@use '../../../src/material-components-web/top-app-bar/variables' as top-app-bar-variables;

// Use full-opacity equivalent of rgba(0, 0, 0, .05) and expose for demos to reference
$hero-background-color: #f7f7f7;

// Used by ready.js to test whether the CSS has finished loading.
.demo-ready-detect {
  position: relative;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-title {
  font-family: 'Roboto Mono', monospace;
}

.catalog-logo,
.catalog-back {
  color: #eee;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 360px;
  padding: 40px 0;
  background-color: $hero-background-color;
  .hero-demo,
  .hero-demos {
    margin-bottom: 20px;
  }
  .hero-demos,
  .hero-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hero-option {
    margin: 0 32px;
  }
}

@media (max-width: top-app-bar-variables.$mobile-breakpoint) {
  .hero {
    .hero-options {
      flex-direction: column;
    }
    .hero-option {
      align-items: flex-start;
      margin: 0 32px;
    }
  }
}

// Default padding on all examples.
section.example {
  margin: 10px;
  padding: 10px;
}

section.example {
  h2 {
    margin-left: 0;
  }
}
