@use '../global/index' as global;

// Use full-opacity equivalent of rgba(0, 0, 0, .05) and expose for demos to reference
$hero-background-color: #f7f7f7;

// Used by ready.js to test whether the CSS has finished loading.
.demo-ready-detect {
  position: relative;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-title {
  font-family: 'Roboto Mono', monospace;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 360px;
  padding: 40px 0;
  background-color: $hero-background-color;

  & > h1 {
    font-size: 3.14rem;
    font-weight: 300;
  }

  .mdc-drawer--permanent {
    display: inherit;
    height: inherit;
    .mdc-drawer__title {
      text-align: left;
    }
  }

  .hero-demo,
  .hero-demos {
    margin-bottom: 20px;
  }
  .hero-demos,
  .hero-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hero-option {
    margin: 0 32px;
  }

  h3 {
    text-align: center;
  }
}

@media (max-width: global.$mobile-breakpoint) {
  .hero {
    .hero-option {
      align-items: flex-start;
      margin: 0 32px;
    }

    .hero-options {
      flex-direction: column;

      .hero-option {
        margin-bottom: 10px;
      }
    }
  }
}
