// Used by ready.js to test whether the CSS has finished loading.
.demo-ready-detect {
  position: relative;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-title {
  font-family: 'Roboto Mono', monospace;
}

.catalog-logo,
.catalog-back {
  color: #eee;
  text-decoration: none;
}

// Use full-opacity equivalent of rgba(0, 0, 0, .05) and expose for demos to reference
$hero-background-color: #f2f2f2;
.hero {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 360px;
  min-height: 360px;
  background-color: $hero-background-color;
}

// Default padding on all examples.
section.example {
  margin: 10px;
  padding: 10px;
}

section.example {
  h2 {
    margin-left: 0;
  }
}
