// Simple & Icon List
.demo-list-item {
  width: 300px;
}

// List items with avatar and action
.demo-list-action {
  width: 300px;
}

// List with avatar and controls
.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}

// Two Line List with secondary info and action
.demo-list-two {
  width: 300px;
}

// Three Line List with secondary info and action
.demo-list-three {
  width: 650px;
}
