@use '@material/switch/mixins' as switch-mixins;
@use '../global/index' as global;

.demo-switch-wrapper {
  display: inline-block;
  margin-right: 16px;
}

.demo-switch--custom .mdc-switch {
  $color: global.$red-500;
  @include switch-mixins.toggled-on-color($color);
}

.rtl-toggle {
  margin: 16px;
}
