.demo-switch-wrapper {
  display: inline-block;
  margin-right: 16px;
}

.demo-switch--custom {
  $color: $material-color-red-500;

  @include mdc-switch-toggled-on-color($color);
}

.rtl-toggle {
  margin: 16px;
}
