@use './vars' as global-vars;

h1 {
  font-size: 38px;
  line-height: 46px;
}

h2 {
  font-size: 30px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 22px;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  vertical-align: text-bottom;
  fill: currentColor;
}

.red {
  color: red;
}

.green {
  color: green;
}

.language-sh {
  color: #17ff0b !important;
}

.balmui-placeholder {
  display: table;
  width: 100%;
  height: 100%;
  // *position: relative;

  .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    // *position: absolute;
    // *top: 30%;
    // *width: 100%;
  }

  h1 {
    width: 100%;
    font: italic 68px/76px 'Times New Roman', Georgia, Arial, sans-serif;
    text-align: center;
  }

  b {
    color: orange;
  }

  strong {
    color: global-vars.$primary;
  }

  p {
    font-size: 24px;
  }
}
