@use './vars' as global-vars;

h1 {
  font-size: global-vars.$font-size-h1;
  line-height: global-vars.$font-size-h1;
}

h2 {
  font-size: global-vars.$font-size-h2;
  line-height: global-vars.$font-size-h2;
}

h3 {
  font-size: global-vars.$font-size-h3;
  line-height: global-vars.$font-size-h3;
}

h4 {
  font-size: global-vars.$font-size-h4;
  line-height: global-vars.$font-size-h4;
}

h5 {
  font-size: global-vars.$font-size-h5;
  line-height: global-vars.$font-size-h5;
}

h6 {
  font-size: global-vars.$font-size-h6;
  line-height: global-vars.$font-size-h6;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  vertical-align: text-bottom;
  fill: currentColor;
}

.red {
  color: red;
}

.green {
  color: green;
}

.language-sh {
  color: #17ff0b !important;
}

.balmui-placeholder {
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  // *position: relative;

  .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    // *position: absolute;
    // *top: 45%;
    // *width: 100%;
  }

  .content {
    display: inline-block;
    text-align: center;
  }

  h1 {
    width: 100%;
    font: italic 96px 'Times New Roman', Georgia, Arial, sans-serif;
    text-align: center;
  }

  b {
    color: orange;
  }

  strong {
    color: global-vars.$primary;
  }
}
