.mdc-toolbar a,
.mdc-toolbar a:visited {
  text-decoration: none;
  color: #f0f0f0;
}

.catalog-title {
  font-family: "Roboto Mono", monospace;
}

.catalog-logo,
.catalog-back {
  text-decoration: none;
  padding-right: 24px;
  color: #eeeeee;
}

.hero {
  background-color: rgba(0, 0, 0, 0.05);
  min-height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

/// Default padding on all examples.
section.example {
  padding: 24px;
  margin: 24px;
}

section.example h2 {
  margin-left: 0;
}

/// Ensure layout covers the entire screen.
.page--persistent-drawer,
.page--permanent-drawer-above-toolbar,
.page--permanent-drawer-below-toolbar,
.balmui-container {
  height: 100%;
}

.balmui-body {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.balmui-menu,
.balmui-content {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  & > * {
    padding-bottom: 20px;
  }
}

.balmui-menu {
  width: 200px;
}

.balmui-content {
  flex: 1;
}

.catalog-list-icon {
  margin-right: 24px;
}

.catalog-list .mdc-list-item {
  text-decoration: none;
  color: gray;
  &.mdc-permanent-drawer--selected {
    color: #212121;
    background: rgba(0, 0, 0, 0.05);
  }
}

.catalog-component-list-content {
  padding-left: 24px;
  order: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.catalog-component-list-title {
  order: 1;
}

.catalog-component-list-description {
  color: #999;
  order: 2;
}

/// lang
.supported-lang {
  margin: 0;
  cursor: pointer;
  a.active {
    font-weight: bolder;
    color: white;
  }
}
