/// Ensure layout covers the entire screen.
html {
  &.balmui--no-layout {
    .balmui-container {
      height: auto;
    }
  }
}

a {
  color: $mdc-theme-primary;
}

.balmui-container {
  height: 100vh;
}

.balmui-body {
  display: flex;
  height: 100%;
}

.balmui-menu {
  position: static;
  z-index: 0;
}

.balmui-menu .mdc-drawer__content,
.balmui-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.balmui-content {
  position: relative;
  flex: 1;
}

.catalog-list {
  h3 {
    padding: 0 12px;
  }

  .no-icon {
    padding-left: 28px;
  }
}

.demo-catalog-list a {
  color: $material-color-grey-900;
}

.demo-catalog-list-icon {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 12px;
}

.hero {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    padding: 4px;
    color: white;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    right: 0;
    bottom: 0;
  }

  &.component {
    &::before,
    &::after {
      content: 'component';
      background-color: #2979ff;
    }
  }

  &.plugin {
    &::before,
    &::after {
      content: 'plugin';
      background-color: #ff1744;
    }
  }

  &.directive {
    &::before,
    &::after {
      content: 'directive';
      background-color: #00bfa5;
    }
  }
}

.markdown-body table td:nth-child(2) {
  color: #c41d7f;
  font-size: 13px;
}

/// lang
.supported-lang {
  margin: 0;
  cursor: pointer;

  a.active {
    font-weight: bolder;
    color: white;
  }
}
