// @use '@csstools/normalize.css/normalize.css'; // OLD
@use 'sanitize.css/sanitize.css'; // NEW

html {
  word-break: initial; // NOTE: bugfix for `sanitize.css`
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
