.snippet-code {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 14px;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

.snippet-group {
  margin-bottom: 84px;
}

.snippet-group .snippet-header {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.snippet-group .snippet-demos,
.snippet-group .snippet-captions {
  display: table-row;
}

.snippet-group .snippet-demo .snippet-demo-container {
  text-align: left;
  display: inline-block;
}

.snippet-group .snippet-captions {
  background-color: #fff;
  height: 48px;
}

.snippet-group .snippet-demo {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.snippet-group .snippet-demo-padding {
  text-align: center;
  padding: 0;
}

.snippet-group .snippet-demo-padding,
.snippet-group .snippet-caption,
.snippet-group .snippet-caption-padding {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.snippet-group .snippet-caption-padding {
  text-align: center;
  padding: 0;
}

.snippet-group .snippet-caption {
  font-size: 13px;
  padding: 0 40px;
  white-space: nowrap;
  text-align: center;
  position: relative;
}

.snippet-group .snippet-demo {
  padding: 0 40px 40px;
}

.snippet-group .snippet-demos .snippet-demo-padding {
  width: 50%;
}

_:-ms-input-placeholder,
:root .snippet-group .snippet-demo {
  width: 1px;
}

_:-ms-input-placeholder,
:root .snippet-group .snippet-demos .snippet-demo-padding {
  width: auto;
}

@media (max-width: 850px) {
  .snippet-group .snippet-demo {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.snippet-group.is-full-width .snippet-demo-container {
  width: 100%;
}

.snippet-group.is-full-width .snippet-demos > .snippet-demo {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.snippet-group.is-full-width .snippet-demo-padding {
  width: 0;
  padding: 8px;
  margin: 0;
}
