@use 'sass:map';
@use '@material/theme/variables' as theme-variables;
@use '@material/typography/variables' as typography-variables;
@use '@material/top-app-bar/variables' as top-app-bar-variables;
@use '@material/tab/variables' as tab-variables;

$MIN_WIDTH: 1240 + 1;
$primary: theme-variables.$primary;
$secondary: theme-variables.$secondary;
$mobile-breakpoint: top-app-bar-variables.$mobile-breakpoint;
$topAppBar-row-height: top-app-bar-variables.$row-height;
$topAppBar-mobile-row-height: top-app-bar-variables.$mobile-row-height;
$tab-height: tab-variables.$height;

$nav-width: 280px;

$font-size-h1: map.get(
  map.get(typography-variables.$styles, headline1),
  font-size
);
$font-size-h2: map.get(
  map.get(typography-variables.$styles, headline2),
  font-size
);
$font-size-h3: map.get(
  map.get(typography-variables.$styles, headline3),
  font-size
);
$font-size-h4: map.get(
  map.get(typography-variables.$styles, headline4),
  font-size
);
$font-size-h5: map.get(
  map.get(typography-variables.$styles, headline5),
  font-size
);
$font-size-h6: map.get(
  map.get(typography-variables.$styles, headline6),
  font-size
);

$docs-components: ui-card, ui-dialog, ui-list, ui-drawer, ui-image-list, ui-menu,
  ui-tabs, ui-textfield;
