@use 'sass:map';
@use '@material/theme/variables' as theme-variables;
@use '@material/typography/variables' as typography-variables;
@use '@material/top-app-bar/variables' as top-app-bar-variables;

$MIN_WIDTH: 1240 + 1;
$primary: theme-variables.$primary;
$secondary: theme-variables.$secondary;
$mobile-breakpoint: top-app-bar-variables.$mobile-breakpoint;

$font-size-h1: map.get(
  map.get(typography-variables.$styles, headline1),
  font-size
);
$font-size-h2: map.get(
  map.get(typography-variables.$styles, headline2),
  font-size
);
$font-size-h3: map.get(
  map.get(typography-variables.$styles, headline3),
  font-size
);
$font-size-h4: map.get(
  map.get(typography-variables.$styles, headline4),
  font-size
);
$font-size-h5: map.get(
  map.get(typography-variables.$styles, headline5),
  font-size
);
$font-size-h6: map.get(
  map.get(typography-variables.$styles, headline6),
  font-size
);

$nav-icons: (
  component: 'ic_component_24px.svg',
  button: 'ic_button_24px.svg',
  icons: 'icons_light.svg',
  toolbar: 'ic_toolbar_24px.svg',
  responsive_layout: 'ic_responsive_layout_24px.svg',
  tabs: 'ic_tabs_24px.svg',
  side_navigation: 'ic_side_navigation_24px.svg',
  menu: 'ic_menu_24px.svg',
  text_field: 'ic_text_field_24px.svg',
  selection_control: 'ic_selection_control_24px.svg',
  radio_button: 'ic_radio_button_24px.svg',
  switch: 'ic_switch_24px.svg',
  slider: 'slider.svg',
  list: 'ic_list_24px.svg',
  card: 'ic_card_24px.svg',
  chips: 'ic_chips_24dp.svg',
  dialog: 'ic_dialog_24px.svg',
  toast: 'ic_toast_24px.svg',
  progress: 'ic_progress_activity.svg',
  typography: 'ic_typography_24px.svg',
  theme: 'ic_theme_24px.svg',
  ripple: 'ic_ripple_24px.svg',
  shadow: 'ic_shadow_24px.svg'
);
