@use '@material/theme/variables' as theme-variables;
@use '@material/top-app-bar/variables' as top-app-bar-variables;
@use '@material/tab/variables' as tab-variables;

$MIN_WIDTH: 1240 + 1;
$primary: theme-variables.$primary;
$secondary: theme-variables.$secondary;
$mobile-breakpoint: top-app-bar-variables.$mobile-breakpoint;
$topAppBar-row-height: top-app-bar-variables.$row-height;
$topAppBar-mobile-row-height: top-app-bar-variables.$mobile-row-height;
$tab-height: tab-variables.$height;

$nav-width: 280px;

$docs-components: ui-card, ui-dialog, ui-list, ui-drawer, ui-image-list, ui-menu,
  ui-tabs, ui-textfield;
