@import 'mask';
.mdl-dialog {
  &.confirm-enter-active,
  &.confirm-leave-active {
    transition: opacity .25s ease, transform .25s ease;
  }
  &.confirm-enter,
  &.confirm-leave-active {
    transform: translate3d(0, -50%, 0);
    opacity: 0;
  }
  &.alert-enter-active,
  &.alert-leave-active {
    transition: opacity .25s ease, transform .25s ease;
  }
  &.alert-enter,
  &.alert-leave-active {
    transform: translate3d(0, -50%, 0);
    opacity: 0;
  }
}

// TODO: namespace!!!
.ui.alert {
  .title {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    .close {
      position: relative;
      display: flex;
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: transform 1s ease;
      transform: rotate(0deg);
      border: 1px solid #ccc;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      &::before,
      &::after {
        position: absolute;
        top: 11px;
        left: 4px;
        display: block;
        width: 16px;
        height: 2px;
        content: '';
        background-color: #ccc;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(135deg);
      }
      &:hover {
        transform: rotate(360deg);
      }
      &:active {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .5) inset;
      }
    }
  }
  .mdl-dialog__actions {
    justify-content: center;
  }
}
