.material-icons {
  overflow: hidden;
  // Rules for sizing the icon.
  &.md-18 {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
  &.md-24 {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
  &.md-36 {
    font-size: 36px;
    width: 36px;
    height: 36px;
  }
  &.md-48 {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }
  // Rules for using icons as black on a light background.
  &.md-dark {
    color: rgba(0, 0, 0, .54);
    &.md-inactive {
      color: rgba(0, 0, 0, .26);
    }
  }
  // Rules for using icons as white on a dark background.
  &.md-light {
    color: rgba(255, 255, 255, 1);
    &.md-inactive {
      color: rgba(255, 255, 255, .3);
    }
  }
}
