.mdl-pagination {
  line-height: 28px;
  display: flex;
  .mdl-pagination--record {
    flex: 1;
  }
  .mdl-pagination--paging {
    a {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 8px;
      cursor: pointer;
      transition: all .3s;
      text-align: center;
      color: rgba(0, 0, 0, .65);
      border: 1px solid #d9d9d9;
      background-color: white;
      span {
        display: block;
      }
      &:hover {
        color: #49a9ee;
        border-color: #49a9ee;
      }
      &.active {
        cursor: default;
        color: white;
        border-color: #108ee9;
        background-color: #108ee9;
      }
    }
  }
  .mdl-pagination--paging-previous,
  .mdl-pagination--paging-next {
    font-size: 14px;
  }
  .mdl-pagination--jumper {
    display: inline-block;
    input {
      width: 50px;
      transition: all .3s;
      color: rgba(0, 0, 0, .65);
      border: 1px solid #d9d9d9;
      &:hover {
        border-color: #49a9ee;
      }
      &:focus {
        border-color: #49a9ee;
        outline: 0;
        box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
      }
    }
  }
  &.mdl-pagination--mini {
    display: block;
    .mdl-pagination--paging {
      &:before,
      &:after {
        display: table;
        content: ' ';
      }
      &:after {
        clear: both;
      }
      a {
        width: auto;
        margin: 0;
        padding: 0 8px;
      }
    }
    .mdl-pagination--paging-previous {
      float: left;
    }
    .mdl-pagination--paging-next {
      float: right;
    }
  }
  .mdl-select {
    .mdl-button {
      padding: 0 10px;
      i {
        right: -10px;
      }
    }
  }
}
