$optionHeight: 32px;
.mdl-select {
  display: inline-block;
  width: 300px;
  min-width: 124px;
  .mdl-button {
    font-size: inherit;
    line-height: normal;
    width: 100%;
    height: $optionHeight;
    text-align: left;
    text-transform: none;
    border: 1px solid $input-text-bottom-border-color;
    border-radius: 0;
    background-color: $button-hover-color;
    i {
      line-height: 24px;
      position: absolute;
      top: 50%;
      right: 0;
      width: 24px;
      transform: translate(-12px, -12px);
    }
  }
  .mdl-menu__outline {
    display: none;
    opacity: 0;
  }
  .mdl-menu__container {
    width: 100% !important;
    .mdl-menu {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      max-height: $optionHeight * 6;
      margin: 0;
      padding: 0;
      border-width: 0 1px 1px;
      border-style: solid;
      background-color: white;
      &.is-animating {
        transition: none;
      }
    }
    .mdl-menu__item {
      line-height: $optionHeight;
      height: $optionHeight;
      list-style: none;
      &:hover {
        background-color: $button-hover-color;
      }
      &.selected {
        background-color: $button-hover-color;
      }
    }
    &.is-visible .mdl-menu__item {
      transition-delay: 0s !important;
    }
  }
  .placeholder {
    color: $input-text-label-color;
  }
  &:hover,
  &.is-expand {
    .mdl-button {
      border-color: $input-text-highlight-color;
      background-color: white;
    }
  }
  &.mdl-select--disabled {
    .mdl-button {
      cursor: default;
      color: $button-secondary-color-disabled;
      border-color: $input-text-bottom-border-color;
      background-color: $button-primary-color-disabled;
    }
  }
}
