.mdl-snackbar {
  &.mdl-snackbar--mini {
    top: 50%;
    bottom: auto;
    min-width: 0;
    transition: opacity .25s;
    transform: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    &.mdl-snackbar--active {
      opacity: 1;
    }
  }
}
