.mdl-data-table {
  &.mdl-data-table {
    width: 100%;
    .mdl-data-table__cell--text-center {
      text-align: center;
    }
    .mdl-data-table__cell--text-left {
      text-align: left;
    }
    .mdl-data-table__cell--text-right {
      text-align: right;
    }
  }
  tr {
    &.selected {
      background-color: #eee;
    }
    td:first-child {
      i {
        cursor: pointer;
      }
    }
  }
  .mdl-no-data-table {
    text-align: center;
  }
}
