.mdl-textfield {
  /**
   * Textfield with plus
   */
  .mdl-textfield__plus {
    position: absolute;
    top: 24px;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  /**
   * Textfield with left Label
   */
  &.mdl-textfield--left-label {
    padding: 0;
    .mdl-input__expandable-holder {
      display: flex;
      justify-content: space-between;
    }
    .mdl-textfield__label {
      position: relative;
      top: 0;
      visibility: visible !important;
      color: inherit;
      &::after {
        bottom: 0;
        visibility: hidden !important;
        width: 0;
      }
    }
    .mdl-textfield__error {
      text-align: left;
    }
    .mdl-textfield__plus {
      position: absolute;
      top: 0;
      width: auto;
    }
  }
  /**
   * Textfield with expand
   */
  .mdl-textfield__expand {
    position: absolute;
    z-index: 999;
    display: none;
    width: 100%;
    border: 1px solid $input-text-bottom-border-color;
    background: white;
  }
  .is-expand {
    .mdl-textfield__expand {
      display: block;
    }
  }
}
