.mdl-textfield {
  /**
   * Textfield with Plus
   */
  .mdl-textfield__plus {
    position: absolute;
    top: 24px;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  /**
   * Textfield with left Label
   */
  &.mdl-textfield--left-label {
    padding: 0;
    .mdl-input__expandable-holder {
      display: flex;
      justify-content: space-between;
      & > * {
        position: static;
        /* change it */
        width: 50%;
        margin: 0;
      }
    }
    .mdl-textfield__label {
      position: relative;
      top: 0;
      visibility: visible !important;
      /* change it */
      width: 50%;
      &::after {
        bottom: 0;
        visibility: hidden !important;
        width: 0;
      }
    }
    .mdl-textfield__error {
      text-align: left;
    }
    .mdl-textfield__plus {
      position: absolute;
      top: 0;
      width: auto;
    }
  }
}
