.mdl-textfield {
  /**
   * Textfield with plus
   */
  .mdl-textfield__plus {
    position: absolute;
    top: 24px;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  /**
   * Textfield with expand
   */
  .mdl-textfield__expand {
    position: absolute;
    z-index: 999;
    display: none;
    width: 100%;
    border: 1px solid $input-text-bottom-border-color;
    background: white;
  }
  .is-expand {
    .mdl-textfield__expand {
      display: block;
    }
  }
}

.mdl-textfield__input {
  &::placeholder {
    color: $input-text-label-color;
  }
}
