@import '../../material-components-web/theme/mixins';

$mdc-autocomplete-outlined-idle-border: rgba(
  mdc-theme-prop-value(on-surface),
  0.24
) !default;
$mdc-autocomplete-item-selected-bgcolor: rgba(
  mdc-theme-prop-value(primary),
  0.54
) !default;

.mdc-autocomplete {
  .mdc-textfield__expand {
    position: absolute;
    z-index: 999;
    top: 48px;

    display: none;

    width: 100%;
  }
  &.mdc-autocomplete--expand {
    z-index: 1;
    .mdc-textfield__expand {
      display: block;
    }
  }
}

.ui-autocomplete__list ul,
.ui-autocomplete__list li {
  margin: 0;
  padding: 0;

  list-style: none;

  border: 0;
}

.ui-autocomplete__list {
  position: relative;

  overflow-x: hidden;
  overflow-y: auto;

  max-height: 210px;

  text-align: left;

  border-width: 0 1px 1px;
  border-style: solid;
  border-color: $mdc-autocomplete-outlined-idle-border;
  background-color: white;
  li {
    line-height: 30px;

    height: 30px;
    b {
      font-weight: bold;
    }
    &.selected {
      color: white;
      background-color: $mdc-autocomplete-item-selected-bgcolor;
    }
  }
}
