@use '@material/theme/variables' as theme-variables;
@use '@material/theme/mixins' as theme-mixins;
@use '@material/elevation/mixins' as elevation-mixins;

$bottom-navigation-destinations: 33, 25, 20;
$bottom-navigation-height: 48px !default;
$bottom-navigation-stacked-height: 72px !default;
$bottom-navigation-color: theme-variables.$primary !default;
$bottom-navigation-fill-color: white !default;
$bottom-navigation-active-fill-color: rgba(
  $bottom-navigation-color,
  0.7
) !default;

.mdc-bottom-navigation--fixed-adjust,
.mdc-bottom-navigation--stacked-fixed-adjust {
  position: absolute;
  top: 0;
  right: 0;
  bottom: $bottom-navigation-height;
  left: 0;
  overflow-x: hidden;
}

.mdc-bottom-navigation--stacked-fixed-adjust {
  bottom: $bottom-navigation-stacked-height;
}

.ui-bottom-navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  height: $bottom-navigation-height;
  background-color: $bottom-navigation-fill-color;
  @include elevation-mixins.elevation(4);

  &.ui-bottom-navigation--stacked {
    height: $bottom-navigation-stacked-height;
  }

  .mdc-tab__content,
  .mdc-tab__text-label {
    color: $bottom-navigation-color;
  }

  .mdc-tab--active {
    color: $bottom-navigation-active-fill-color;
  }

  .mdc-tab-scroller__scroll-content {
    width: 100%;
  }
}

@each $width in $bottom-navigation-destinations {
  .ui-bottom-navigation--dest-#{$width} {
    .mdc-tab {
      width: percentage($width/100);
    }
  }
}
