$icon-sizes: 18 24 36 48 !default;
$icon-color-dark: rgba(0, 0, 0, 0.54) !default;
$icon-color-dark-inactive: rgba(0, 0, 0, 0.26) !default;
$icon-color-light: rgba(255, 255, 255, 1) !default;
$icon-color-light-inactive: rgba(255, 255, 255, 0.3) !default;

.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-two-tone,
.material-icons-sharp {
  /* Rules for sizing the icon. */
  @each $size in $icon-sizes {
    &.md-#{$size} {
      font-size: #{$size}px;

      width: #{$size}px;
      height: #{$size}px;
    }
  }
  /* Rules for using icons as black on a light background. */
  &.md-dark {
    color: $icon-color-dark;
    &.md-inactive {
      color: $icon-color-dark-inactive;
    }
  }
  /* Rules for using icons as white on a dark background. */
  &.md-light {
    color: $icon-color-light;
    &.md-inactive {
      color: $icon-color-light-inactive;
    }
  }
}
