$card-text-wrapper-padding: 16px !default;

.mdc-card__text {
  padding-left: $card-text-wrapper-padding;
  padding-right: $card-text-wrapper-padding;
  &:first-child,
  & + & {
    padding-top: $card-text-wrapper-padding;
  }
  &:last-child {
    padding-bottom: $card-text-wrapper-padding;
  }
}

.mdc-card__media + .mdc-card__text {
  padding-top: $card-text-wrapper-padding;
}
