// .mdc-text-field__custom-icon {
//   position: absolute;
//   top: 16px;
// }

// .mdc-text-field--with-leading-icon {
//   .mdc-text-field__custom-icon {
//     left: 15px;
//   }
// }

// .mdc-text-field--with-trailing-icon {
//   .mdc-text-field__custom-icon {
//     right: 15px;
//   }
// }
