@import '../../material-components-web/theme/mixins';
@import '../../material-components-web/shape/mixins';

/// Global
$mdc-pagination-color: $mdc-theme-primary !default;
$mdc-pagination-corner-radius: 0 !default;
/// Default
$mdc-pagination-fill-color: white !default;
$mdc-pagination-text-color: rgba(black, 0.87) !default;
$mdc-pagination-border-color: rgba(black, 0.38) !default;
/// Hover
$mdc-pagination-hover-fill-color: $mdc-pagination-fill-color !default;
$mdc-pagination-hover-text-color: $mdc-pagination-color !default;
$mdc-pagination-hover-border-color: $mdc-pagination-color !default;
/// Activated
$mdc-pagination-active-fill-color: rgba($mdc-pagination-color, 0.7) !default;
$mdc-pagination-active-text-color: $mdc-pagination-fill-color !default;
$mdc-pagination-active-border-color: $mdc-pagination-color !default;

.mdc-pagination {
  line-height: 32px;

  display: flex;

  flex-flow: wrap;
  justify-content: center;
  .mdc-pagination__record {
    flex: 1;
    .mdc-select,
    select {
      height: auto;
    }
    select {
      padding: 0 16px;
    }
  }
  .mdc-pagination__paging {
    a,
    .ellipsis {
      line-height: 30px;

      display: inline-block;

      min-width: 32px;
      height: 32px;
      margin-right: 8px;

      text-align: center;
      vertical-align: middle;

      @include mdc-shape-radius($mdc-pagination-corner-radius);
    }
    a {
      cursor: pointer;
      transition: all 0.3s;

      color: $mdc-pagination-text-color;
      border: 1px solid $mdc-pagination-border-color;
      background-color: $mdc-pagination-fill-color;
      span {
        margin: 0 5px;
      }
      &:hover {
        color: $mdc-pagination-hover-text-color;
        border-color: $mdc-pagination-hover-border-color;
        background-color: $mdc-pagination-hover-fill-color;
      }
      &.active {
        cursor: default;

        color: $mdc-pagination-active-text-color;
        border-color: $mdc-pagination-active-border-color;
        background-color: $mdc-pagination-active-fill-color;
      }
    }
  }
  .mdc-pagination__previous,
  .mdc-pagination__next {
    i,
    span {
      font-size: inherit;
      line-height: inherit;

      margin: 0;
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
  .mdc-pagination__jumper {
    display: inline-block;
    input {
      width: 44px;
      height: 24px;

      transition: all 0.3s;
      text-indent: 3px;

      color: $mdc-pagination-text-color;
      border: 1px solid #d9d9d9;
      &:hover,
      &:focus {
        border-color: $mdc-pagination-hover-border-color;
      }
      &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
      }
    }
    button {
      line-height: 22px;

      height: 24px;
      padding: 0;

      color: $mdc-pagination-text-color;
      border: 1px solid #d9d9d9;
      &:hover {
        color: $mdc-pagination-hover-text-color;
        border-color: $mdc-pagination-hover-border-color;
        background: none;
      }
    }
  }
  &.mdc-pagination--left {
    justify-content: flex-start;
  }
  &.mdc-pagination--right {
    justify-content: flex-end;
  }
  &.mdc-pagination--between {
    justify-content: space-between;
    align-items: center;
  }
  &.mdc-pagination--mini {
    display: block;
    .mdc-pagination__paging {
      display: flex;

      justify-content: space-between;
    }
    a {
      min-width: auto;
      margin: 0;
    }
  }
}
