$mdc-pagination-color: $mdc-theme-primary !default;
$mdc-pagination-border-color: $mdc-theme-primary !default;
$mdc-pagination-bg-color: white !default;
$mdc-pagination-hover-color: $mdc-theme-primary !default;
$mdc-pagination-hover-border-color: $mdc-pagination-hover-color !default;
$mdc-pagination-hover-bg-color: $mdc-pagination-bg-color !default;
$mdc-pagination-active-color: $mdc-pagination-bg-color !default;
$mdc-pagination-active-bg-color: $mdc-theme-primary !default;
$mdc-pagination-active-border-color: $mdc-pagination-active-bg-color !default;

.mdc-pagination {
  display: flex;

  justify-content: center;
  &.mdc-pagination--left {
    justify-content: flex-start;
  }
  &.mdc-pagination--right {
    justify-content: flex-end;
  }
  &.mdc-pagination--between {
    justify-content: space-between;
    align-items: center;
  }
  .mdc-pagination__record {
    flex: 1;
  }
  .mdc-pagination__paging {
    a,
    .ellipsis {
      line-height: 30px;

      display: inline-block;

      min-width: 32px;
      height: 32px;
      margin-right: 8px;

      text-align: center;
      vertical-align: middle;

      color: $mdc-pagination-color;
    }
    a {
      cursor: pointer;
      transition: all 0.3s;

      border: 1px solid $mdc-pagination-border-color;
      background-color: $mdc-pagination-bg-color;
      & > span {
        line-height: inherit;
      }
      &:hover {
        color: $mdc-pagination-hover-color;
        border-color: $mdc-pagination-hover-border-color;
        background-color: $mdc-pagination-hover-bg-color;
      }
      &.active {
        cursor: default;

        color: $mdc-pagination-active-color;
        border-color: $mdc-pagination-active-border-color;
        background-color: $mdc-pagination-active-bg-color;
      }
    }
  }
  .mdc-pagination__jumper {
    display: inline-block;
    input {
      width: 50px;

      transition: all 0.3s;

      color: rgba(0, 0, 0, 0.65);
      border: 1px solid #d9d9d9;
      &:hover,
      &:focus {
        border-color: $mdc-pagination-hover-border-color;
      }
      &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
      }
    }
    button {
      line-height: 24px;

      height: 24px;
      padding: 0;

      color: rgba(0, 0, 0, 0.65);
      border: 1px solid #d9d9d9;
      &:hover {
        color: $mdc-pagination-hover-color;
        border-color: $mdc-pagination-hover-border-color;
        background: none;
      }
    }
  }
  &.mdc-pagination--mini {
    display: block;
    .mdc-pagination__paging {
      display: flex;

      justify-content: space-between;
    }
    a {
      min-width: auto;
      margin: 0;
      & > span {
        padding: 0 10px;
      }
    }
  }
}
