$text-divider-size: 1px !default;
$text-divider-horizontal-text-padding: 0.5em 1em !default;
$text-divider-vertical-text-padding: 1em 0.5em !default;

.mdc-text-divider {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.mdc-text-divider__text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before,
  &::after {
    display: block;
    content: '';
  }

  span {
    display: inline-block;
    flex-shrink: 0;
    font-size: inherit;
    text-transform: uppercase;
  }
}

.mdc-text-divider--horizontal {
  display: flex;

  .mdc-text-divider__text {
    width: 100%;

    &::before,
    &::after {
      width: 50%;
      height: $text-divider-size;
      background-color: currentColor;
    }

    & > span {
      padding: $text-divider-horizontal-text-padding;
    }
  }
}

.mdc-text-divider--vertical {
  display: inline-flex;
  height: 100%;

  .mdc-text-divider__text {
    height: 100%;
    flex-direction: column;

    &::before,
    &::after {
      width: $text-divider-size;
      height: 50%;
      background-color: currentColor;
    }

    & > span {
      padding: $text-divider-vertical-text-padding;
    }
  }
}
