@use '@material/elevation/mixins' as elevation-mixins;

$banner-height: 64px !default;
$banner-message-padding: 20px 16px 0 !default;
$banner-actions-padding: 8px 16px !default;

$banner-mobile-breakpoint: 599px !default;

.mdc-banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  min-height: $banner-height;
  background: white;
  @include elevation-mixins.elevation(4);
}

.mdc-banner__surface {
  padding: $banner-message-padding;
}

.mdc-banner__actions {
  padding: $banner-actions-padding;
  text-align: right;

  .mdc-button {
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: $banner-mobile-breakpoint) {
  .mdc-banner {
    @include elevation-mixins.elevation(1);
  }
}
