$mdc-icon-sizes: 16 24 36 48 !default;
$mdc-icon-color-dark: rgba(0, 0, 0, 0.54) !default;
$mdc-icon-color-dark-inactive: rgba(0, 0, 0, 0.26) !default;
$mdc-icon-color-light: rgba(255, 255, 255, 1) !default;
$mdc-icon-color-light-inactive: rgba(255, 255, 255, 0.3) !default;
.material-icons {
  /* Rules for sizing the icon. */
  @each $size in $mdc-icon-sizes {
    &.md-#{$size} {
      font-size: #{$size}px;
      width: #{$size}px;
      height: #{$size}px;
    }
  }
  /* Rules for using icons as black on a light background. */
  &.md-dark {
    color: $mdc-icon-color-dark;
    &.md-inactive {
      color: $mdc-icon-color-dark-inactive;
    }
  }
  /* Rules for using icons as white on a dark background. */
  &.md-light {
    color: $mdc-icon-color-light;
    &.md-inactive {
      color: $mdc-icon-color-light-inactive;
    }
  }
}
