@import '../../material-components-web/theme/mixins';
@import '../../material-components-web/shape/mixins';

/// Global
$mdc-pagination-height: 32px;
$mdc-pagination-color: $mdc-theme-primary !default;
$mdc-pagination-corner-radius: 4px !default;
/// Default
$mdc-pagination-fill-color: white !default;
$mdc-pagination-text-color: rgba(
  mdc-theme-prop-value(on-surface),
  0.87
) !default;
$mdc-pagination-border-color: rgba(
  mdc-theme-prop-value(on-surface),
  0.38
) !default;
/// Hover
$mdc-pagination-hover-fill-color: $mdc-pagination-fill-color !default;
$mdc-pagination-hover-text-color: $mdc-pagination-color !default;
$mdc-pagination-hover-border-color: $mdc-pagination-color !default;
/// Activated
$mdc-pagination-active-fill-color: rgba($mdc-pagination-color, 0.7) !default;
$mdc-pagination-active-text-color: $mdc-pagination-fill-color !default;
$mdc-pagination-active-border-color: $mdc-pagination-color !default;

.mdc-pagination {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;

  &.mdc-pagination--left {
    justify-content: flex-start;
  }
  &.mdc-pagination--right {
    justify-content: flex-end;
  }
  &.mdc-pagination--between {
    justify-content: space-between;
    align-items: center;
  }
  &.mdc-pagination--mini {
    display: block;
    .mdc-pagination__pages {
      display: flex;

      justify-content: space-between;
    }
    a {
      min-width: auto;
      margin: 0;
    }
  }
}

.mdc-pagination__pages {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.mdc-pagination__previous,
.mdc-pagination__next,
.mdc-pagination__page-item,
.mdc-pagination__page-item-ellipsis {
  display: inline-block;
  min-width: 32px;
  height: $mdc-pagination-height;
  line-height: 30px;
  margin-right: 8px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  user-select: none;
  border: 1px solid $mdc-pagination-border-color;
  background-color: $mdc-pagination-fill-color;
  color: $mdc-pagination-text-color;
}

.mdc-pagination__previous,
.mdc-pagination__next,
.mdc-pagination__page-item {
  & > i,
  & > span,
  & > a {
    display: block;
    margin: 0;
    padding: 0 6px;
    line-height: inherit;
    font-size: inherit;
    outline: none;
    color: $mdc-pagination-text-color;
  }
}

.mdc-pagination__previous,
.mdc-pagination__next,
.mdc-pagination__page-item {
  cursor: pointer;
  transition: all 0.3s;
  @include mdc-shape-radius($mdc-pagination-corner-radius);

  &:hover {
    border-color: $mdc-pagination-hover-border-color;
    background-color: $mdc-pagination-hover-fill-color;
    color: $mdc-pagination-hover-text-color;
    a {
      color: $mdc-pagination-hover-text-color;
    }
  }
}

.mdc-pagination__page-item--active {
  border-color: $mdc-pagination-active-border-color;
  background-color: $mdc-pagination-active-fill-color;
  cursor: default;

  a {
    color: $mdc-pagination-active-text-color;
  }

  &:hover {
    border-color: $mdc-pagination-active-border-color;
    background-color: $mdc-pagination-active-fill-color;
    a {
      color: $mdc-pagination-active-text-color;
    }
  }
}

.mdc-pagination__page-item--disabled {
  cursor: not-allowed;
  &:hover {
    border: 1px solid $mdc-pagination-border-color;
    color: $mdc-pagination-text-color;
  }
}

.mdc-pagination__jumper {
  display: inline-block;

  input {
    width: 44px;
    height: 24px;

    transition: all 0.3s;
    text-indent: 3px;

    color: $mdc-pagination-text-color;
    border: 1px solid #d9d9d9;
    &:hover,
    &:focus {
      border-color: $mdc-pagination-hover-border-color;
    }
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
    }
  }

  button {
    line-height: 22px;

    height: 24px;
    padding: 0;

    color: $mdc-pagination-text-color;
    border: 1px solid #d9d9d9;
    &:hover {
      color: $mdc-pagination-hover-text-color;
      border-color: $mdc-pagination-hover-border-color;
      background: none;
    }
  }
}

.mdc-pagination__record {
  margin-right: 12px;
  .mdc-select {
    margin: 0 6px;
  }
  .mdc-select__anchor,
  .mdc-select__selected-text {
    height: $mdc-pagination-height;
  }
  .mdc-select__dropdown-icon {
    width: 18px;
    height: 18px;
    bottom: 8px;
  }
  .mdc-select__selected-text {
    min-width: 100%;
    padding-top: 2px;
    padding-right: 32px;
    padding-bottom: 0;
  }
}
