$pagination-color: #49a9ee !default;
$pagination-active-color: #108ee9 !default;

.mdc-pagination {
  line-height: 28px;

  display: flex;

  justify-content: center;
  .mdc-pagination--record {
    flex: 1;
  }
  .mdc-pagination--paging {
    a {
      display: inline-block;

      min-width: 28px;
      height: 28px;
      margin-right: 8px;

      cursor: pointer;
      transition: all .3s;
      text-align: center;
      vertical-align: middle;

      color: rgba(0, 0, 0, .65);
      border: 1px solid #d9d9d9;
      background-color: white;
      span {
        display: block;
      }
      &:hover {
        color: $pagination-color;
        border-color: $pagination-color;
      }
      &.active {
        cursor: default;

        color: white;
        border-color: $pagination-active-color;
        background-color: $pagination-active-color;
      }
    }
  }
  .mdc-pagination--jumper {
    display: inline-block;
    input {
      width: 50px;

      transition: all .3s;

      color: rgba(0, 0, 0, .65);
      border: 1px solid #d9d9d9;
      &:hover {
        border-color: $pagination-color;
      }
      &:focus {
        border-color: $pagination-color;
        outline: 0;
        box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
      }
    }
    .mdc-button {
      line-height: 24px;

      height: 24px;
      padding: 0;

      color: rgba(0, 0, 0, .65);
      border: 1px solid #d9d9d9;
      &:hover {
        color: $pagination-color;
        border-color: $pagination-color;
        background: none;
      }
    }
  }
  &.mdc-pagination--mini {
    display: block;
    .mdc-pagination--paging {
      &:before,
      &:after {
        display: table;

        content: ' ';
      }
      &:after {
        clear: both;
      }
      a {
        width: auto;
        margin: 0;
        padding: 0 8px;
      }
    }
    .mdc-pagination--paging-previous {
      float: left;
    }
    .mdc-pagination--paging-next {
      float: right;
    }
  }
  .mdc-select {
    .mdc-button {
      padding: 0 10px;
      i {
        right: -10px;
      }
    }
  }
}
