$ui-pagination-color: #49a9ee !default;
$ui-pagination-active-color: #108ee9 !default;

.mdc-pagination {
  line-height: 28px;

  display: flex;

  justify-content: center;
  &.mdl-pagination--left {
    justify-content: flex-start;
  }
  &.mdl-pagination--right {
    justify-content: flex-end;
  }
  &.mdl-pagination--between {
    justify-content: space-between;
  }
  .mdc-pagination--record {
    flex: 1;
  }
  .mdc-pagination--paging {
    a {
      display: inline-block;

      min-width: 28px;
      height: 28px;
      margin-right: 8px;

      cursor: pointer;
      transition: all .3s;
      text-align: center;
      vertical-align: middle;

      color: rgba(0, 0, 0, .65);
      border: 1px solid #d9d9d9;
      background-color: white;
      &>span {
        display: block;

        padding: 0 6px;
      }
      &:hover {
        color: $ui-pagination-color;
        border-color: $ui-pagination-color;
      }
      &.active {
        cursor: default;

        color: white;
        border-color: $ui-pagination-active-color;
        background-color: $ui-pagination-active-color;
      }
    }
  }
  .mdc-pagination--jumper {
    display: inline-block;
    input {
      width: 50px;

      transition: all .3s;

      color: rgba(0, 0, 0, .65);
      border: 1px solid #d9d9d9;
      &:hover {
        border-color: $ui-pagination-color;
      }
      &:focus {
        border-color: $ui-pagination-color;
        outline: 0;
        box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
      }
    }
    .mdc-button {
      line-height: 24px;

      height: 24px;
      padding: 0;

      color: rgba(0, 0, 0, .65);
      border: 1px solid #d9d9d9;
      &:hover {
        color: $ui-pagination-color;
        border-color: $ui-pagination-color;
        background: none;
      }
    }
  }
  &.mdl-pagination--mini {
    display: block;
    .mdl-pagination--paging {
      display: flex;

      justify-content: space-between;
    }
    a {
      min-width: auto;
      margin: 0;
      &>span {
        padding: 0 10px;
      }
    }
  }
  .mdl-select {
    .mdl-button {
      padding: 0 10px;
      i {
        right: -10px;
      }
    }
  }
}
