.mdc-alert,
.mdc-confirm {
  .mdc-dialog__surface {
    width: 500px;
    min-width: 500px;
  }
  .close {
    cursor: pointer;
    transition: all .4s;
    opacity: .5;
    &:hover {
      transform: rotate(360deg);
      opacity: 1;
    }
  }
  .mdc-dialog__footer {
    justify-content: center;
  }
  .mdc-dialog__footer__button {
    margin: 0 5px;
  }
}
