@import '../../material-components-web/theme/mixins';

.mdc-autocomplete {
  .mdc-textfield__expand {
    position: absolute;
    top: 48px;
    z-index: 999;

    display: none;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    max-height: 210px;

    text-align: left;

    border-width: 0 1px 1px;
    border-style: solid;
    border-color: gray;
    background: white;
    ul {
      margin: 0;
      padding: 0;

      list-style: none;

      border: 0;
    }
    li {
      line-height: 30px;

      height: 30px;
      margin: 0;
      padding: 0;

      border: 0;
      b {
        font-weight: bold;
      }
      &.active {
        color: white;
        background: black;
      }
    }
  }
  &.mdc-autocomplete--expand {
    z-index: 1;
    .mdc-textfield__expand {
      display: block;
    }
  }
}
