$rangepicker-separator-padding: 10px !default;

$rangepicker-mobile-breakpoint: 599px !default;

.mdc-rangepicker {
  display: inline-flex;
}

.mdc-rangepicker__separator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $rangepicker-separator-padding;
}

@media (max-width: $rangepicker-mobile-breakpoint) {
  .mdc-rangepicker {
    flex-direction: column;
  }
}
