@use '@material/theme/theme-color';
@use '@material/list/variables' as list-variables;

$color: if(
  theme-color.tone(theme-color.$background) == 'dark',
  list-variables.$deprecated-divider-color-on-dark-bg,
  list-variables.$deprecated-divider-color-on-light-bg
) !default;

$horizontal-height: 2px !default;
$horizontal-text-padding: 8px 16px !default;

$vertical-width: 2px !default;
$vertical-text-padding: 16px 8px !default;
