.kill-ie {
  position: absolute;
  text-align: center;
  background-color: #bdbdbd;

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
  }

  a {
    text-decoration: underline;
    color: red;
    font-weight: bold;
  }
}
