.supported-lang {
  margin: 0;
  cursor: pointer;
  a.active {
    font-weight: bolder;
    color: white;
  }
}

.mdl-layout__drawer {
  .mdl-badge[data-badge]:after {
    right: -32px;
    width: 32px;
  }
  .mdl-navigation__link {
    &.router-link-active {
      background-color: #757575;
      a {
        color: white;
      }
      &:hover {
        background-color: #757575;
      }
    }
  }
}

.mdl-layout__content {
  padding: 20px;
}
