registry=https://registry.npmjs.org

# Configuration with pnpm for installing `balm-ui`

# Hoisting everything to the the root of node_modules:
# shamefully-hoist=true

# Hoisting only packages that match a pattern:
# public-hoist-pattern[]="*deepmerge*"
# public-hoist-pattern[]="*flatpickr*"
# public-hoist-pattern[]="*material-components-web*"
# public-hoist-pattern[]="@material/*"
# public-hoist-pattern[]="*quill*"
