{
  "require": [
    "@babel/register"
  ],
  "include": [
    "src/scripts/**",
    "!src/scripts/utils/ie.js"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "sourceMap": false,
  "instrument": false
}
