@use './variables' as ui-card-variables;

.mdc-card__text {
  padding-left: ui-card-variables.$text-wrapper-padding;
  padding-right: ui-card-variables.$text-wrapper-padding;
  &:first-child,
  & + & {
    padding-top: ui-card-variables.$text-wrapper-padding;
  }
  &:last-child {
    padding-bottom: ui-card-variables.$text-wrapper-padding;
  }
}

.mdc-card__media + .mdc-card__text {
  padding-top: ui-card-variables.$text-wrapper-padding;
}
