@use '../../../../src/styles/balm-ui/components/skeleton' with (
  $avatar: (
    base: 36px,
    large: 40px,
    small: 24px
  ),

  $color: #f2f2f2,
  $to-color: global-function.shade($color, 10%)
);
