@use '../vars';

@use '@material/theme/theme-color' with (
  $primary: vars.$primary,
  $secondary: vars.$secondary,
  $background: #fff,
  $surface: vars.$surface,
  $error: vars.$error,
  $text-colors: (
    dark: (
      primary: rgba(black, 0.87),
      secondary: rgba(black, 0.54),
      hint: rgba(black, 0.38),
      disabled: rgba(black, 0.38),
      icon: rgba(black, 0.38)
    ),
    light: (
      primary: white,
      secondary: rgba(white, 0.7),
      hint: rgba(white, 0.5),
      disabled: rgba(white, 0.5),
      icon: rgba(white, 0.5)
    )
  ),
  $text-emphasis: (
    high: 0.87,
    medium: 0.6,
    disabled: 0.38
  )
);
