.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;

  .my-loading {
    width: 64px;
    height: 64px;
  }
}

.loading-enter-active,
.loading-leave-active {
  transition: opacity 0.4s;
}

.loading-enter,
.loading-leave-to {
  opacity: 0;
}

.loading-leave-active {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
