.top-linear-loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.page-loading-container {
  position: fixed;
  top: 80px;
  right: 16px;
  z-index: 5;
}

.loading-enter-active,
.loading-leave-active {
  transition: opacity 0.4s;
}

.loading-enter,
.loading-leave-to {
  opacity: 0;
}

.loading-leave-active {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
