.top-loading,
.page-loading {
  position: fixed;
  z-index: 5;
}

.top-loading {
  top: 0;
  right: 0;
  left: 0;
}

.page-loading {
  top: 80px;
  right: 16px;
}

.loading-enter-active,
.loading-leave-active {
  transition: opacity 0.4s;
}

.loading-enter,
.loading-leave-to {
  opacity: 0;
}

.loading-leave-active {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
