.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.5;

  word-wrap: break-word;
  margin-bottom: 1em;
}

.markdown-body::before {
  display: table;

  content: '';
}

.markdown-body::after {
  display: table;
  clear: both;

  content: '';
}

.markdown-body > *:first-child {
  margin-top: 0 !important;
}

.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  text-decoration: none;

  color: inherit;
}

.markdown-body .absent {
  color: #cb2431;
}

.markdown-body .anchor {
  line-height: 1;

  float: left;

  margin-left: -20px;
  padding-right: 4px;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body hr {
  height: 0.25em;
  margin: 24px 0;
  padding: 0;

  border: 0;
  background-color: #e1e4e8;
}

.markdown-body blockquote {
  padding: 0 1em;

  color: #333;
  border-left: 8px solid #1976d2;
  background: rgba(25, 118, 210, 0.05);
  &::before,
  &::after {
    content: '';
  }
  p {
    display: inline-block;

    padding: 14px 0;
  }
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body kbd {
  font-size: 11px;
  line-height: 10px;

  display: inline-block;

  padding: 3px 5px;

  vertical-align: middle;

  color: #444d56;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  background-color: #fafbfc;
  box-shadow: inset 0 -1px 0 #959da5;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  visibility: hidden;

  vertical-align: middle;

  color: #1b1f23;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
  font-size: inherit;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: 1px solid #eaecef;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
  padding: 0;

  list-style-type: none;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li {
  word-wrap: break-all;
}

.markdown-body li > p {
  margin-top: 16px;
}

.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  font-size: 1em;
  font-weight: 600;
  font-style: italic;

  margin-top: 16px;
  padding: 0;
}

.markdown-body dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.markdown-body table {
  // display: block;
  // overflow: auto;

  width: 100%;
}

.markdown-body table th {
  font-weight: 600;
  text-align: left;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;

  border: 1px solid #dfe2e5;
}

.markdown-body table tr {
  border-top: 1px solid #c6cbd1;
  background-color: #fff;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body table img {
  background-color: transparent;
}

.markdown-body img {
  box-sizing: content-box;
  max-width: 100%;

  background-color: #fff;
}

.markdown-body img[align='right'] {
  padding-left: 20px;
}

.markdown-body img[align='left'] {
  padding-right: 20px;
}

.markdown-body .emoji {
  max-width: none;

  vertical-align: text-top;

  background-color: transparent;
}

.markdown-body span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body span.frame > span {
  display: block;
  float: left;
  overflow: hidden;

  width: auto;
  margin: 13px 0 0;
  padding: 7px;

  border: 1px solid #dfe2e5;
}

.markdown-body span.frame span img {
  display: block;
  float: left;
}

.markdown-body span.frame span span {
  display: block;
  clear: both;

  padding: 5px 0 0;

  color: #24292e;
}

.markdown-body span.align-center {
  display: block;
  clear: both;
  overflow: hidden;
}

.markdown-body span.align-center > span {
  display: block;
  overflow: hidden;

  margin: 13px auto 0;

  text-align: center;
}

.markdown-body span.align-center span img {
  margin: 0 auto;

  text-align: center;
}

.markdown-body span.align-right {
  display: block;
  clear: both;
  overflow: hidden;
}

.markdown-body span.align-right > span {
  display: block;
  overflow: hidden;

  margin: 13px 0 0;

  text-align: right;
}

.markdown-body span.align-right span img {
  margin: 0;

  text-align: right;
}

.markdown-body span.float-left {
  display: block;
  float: left;
  overflow: hidden;

  margin-right: 13px;
}

.markdown-body span.float-left span {
  margin: 13px 0 0;
}

.markdown-body span.float-right {
  display: block;
  float: right;
  overflow: hidden;

  margin-left: 13px;
}

.markdown-body span.float-right > span {
  display: block;
  overflow: hidden;

  margin: 13px auto 0;

  text-align: right;
}

.markdown-body code,
.markdown-body tt {
  font-size: 85%;

  margin: 0;
  padding: 0.2em 0.4em;

  border-radius: 3px;
  background-color: rgba(27, 31, 35, 0.05);
}

.markdown-body code br,
.markdown-body tt br {
  display: none;
}

.markdown-body del code {
  text-decoration: inherit;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre > code {
  font-size: 100%;

  margin: 0;
  padding: 0;

  white-space: pre;
  word-break: normal;

  border: 0;
  background: transparent;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;

  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  font-size: 85%;
  line-height: 1.45;

  overflow: auto;

  padding: 16px;

  border-radius: 3px;
  background-color: #f6f8fa;
}

.markdown-body pre code,
.markdown-body pre tt {
  line-height: inherit;

  display: inline;
  overflow: visible;

  max-width: auto;
  margin: 0;
  padding: 0;

  word-wrap: normal;

  border: 0;
  background-color: transparent;
}

.markdown-body .csv-data td,
.markdown-body .csv-data th {
  font-size: 12px;
  line-height: 1;

  overflow: hidden;

  padding: 5px;

  text-align: left;
  white-space: nowrap;
}

.markdown-body .csv-data .blob-num {
  padding: 10px 8px 9px;

  text-align: right;

  border: 0;
  background: #fff;
}

.markdown-body .csv-data tr {
  border-top: 0;
}

.markdown-body .csv-data th {
  font-weight: 600;

  border-top: 0;
  background: #f6f8fa;
}
