$low-luminance-color: #3e2723;
$high-luminance-color: #fff8e1;

.demo-theme-bg--low-luminance {
  background-color: $low-luminance-color;
}

.demo-theme-bg--low-luminance-light {
  background-color: mdc-theme-light-variant($low-luminance-color);
}

.demo-theme-bg--low-luminance-dark {
  background-color: mdc-theme-dark-variant($low-luminance-color);
}

.demo-theme-bg--high-luminance {
  background-color: $high-luminance-color;
}

.demo-theme-bg--high-luminance-light {
  background-color: mdc-theme-light-variant($high-luminance-color);
}

.demo-theme-bg--high-luminance-dark {
  background-color: mdc-theme-dark-variant($high-luminance-color);
}
