@use '../global/index' as global;

.toc-affix {
  position: sticky;
  top: global.$topAppBar-row-height;
  z-index: 4;
  background: white;
  .mdc-list {
    display: flex;
  }
  .mdc-list-item {
    cursor: pointer;
  }
}

@media (max-width: global.$mobile-breakpoint) {
  .toc-affix {
    top: global.$mobile-row-height;
  }
}
