$collapse-margin-bottom: 0 !default;
$header-margin-bottom: 0 !default;
$title-padding: 8px 0 !default;
$icon-margin-right: 8px !default;
$content-padding: 8px 0 !default;
$content-padding-left: 24px !default;
