@use './variables' as ui-circular-progress-variables;

.mdc-circular-progress__spinner-layer {
  display: flex;
}

.mdc-circular-progress__circle-clipper {
  display: inline-flex;
}

@each $color in ui-circular-progress-variables.$fourColors {
  .mdc-circular-progress__color-#{index(ui-circular-progress-variables.$fourColors, $color)} {
    .mdc-circular-progress__indeterminate-circle-graphic {
      stroke: $color;
    }
  }
}

@each $size, $dia in ui-circular-progress-variables.$sizing {
  .mdc-circular-progress--#{$size} {
    width: $dia;
    height: $dia;
  }
}
