@use './extension';

.ql-bubble .ql-editor {
  border: 1px solid #ccc;
}

.ql-toolbar .material-icons {
  font-size: 18px;
}

.ql-bubble.ql-toolbar button,
.ql-bubble .ql-toolbar button {
  color: #ccc;
}
