@use './variables' as editor-variables;
@use './extensions';

.mdc-editor {
  &.ql-snow .ql-editor {
    height: editor-variables.$editor-height;
  }

  &.ql-bubble .ql-editor {
    height: editor-variables.$bubble-editor-height;
  }
}

.mdc-editor--fullwidth {
  width: 100%;
}

.ql-bubble .ql-editor {
  border: 1px solid #ccc;
}

.ql-toolbar .material-icons {
  font-size: 18px;
}

.ql-bubble.ql-toolbar button,
.ql-bubble .ql-toolbar button {
  color: #ccc;
}
