@use './variables' as editor-variables;
@use './mixins' as editor-mixins;

.mdc-editor-container {
  position: relative;
}

.ql-tooltip,
.ql-bubble {
  z-index: 3;
}

.ql-bubble .ql-editor {
  border: 1px solid #ccc;
}

.ql-toolbar .material-icons {
  font-size: 18px;
}

@include editor-mixins.setFontFamliy(editor-variables.$font-families);
