$editor-height: 100% !default;
$bubble-editor-height: 100px !default;

$font-family: (
  'arial': 'Arial',
  'arial-black': 'Arial Black',
  'comic-sans-ms': 'Comic Sans MS',
  'courier-new': 'Courier New',
  'tahoma': 'Tahoma',
  'georgia': 'Georgia',
  'helvetica': 'Helvetica',
  'segoe-ui': 'Segoe UI',
  'sans-serif': 'Sans-Serif',
  'impact': 'Impact',
  'times-new-roman': 'Times New Roman',
  'verdana': 'Verdana'
) !default;
