$font-family: (
  'arial': 'Arial',
  'arial-black': 'Arial Black',
  'comic-sans-ms': 'Comic Sans MS',
  'courier-new': 'Courier New',
  'tahoma': 'Tahoma',
  'georgia': 'Georgia',
  'helvetica': 'Helvetica',
  'segoe-ui': 'Segoe UI',
  'sans-serif': 'Sans-Serif',
  'impact': 'Impact',
  'times-new-roman': 'Times New Roman',
  'verdana': 'Verdana'
) !default;

$font-size: (
  '8px',
  '9px',
  '10px',
  '11px',
  '12px',
  '13px',
  '14px',
  '16px',
  '18px',
  '24px',
  '36px',
  '48px',
  '60px',
  '72px',
  '96px'
) !default;

$line-height: (
  '1.0',
  '1.2',
  '1.5',
  '1.6',
  '1.8',
  '2.0',
  '2.4',
  '2.8',
  '3.0',
  '4.0',
  '5.0'
) !default;
