@use '@material/theme/variables' as theme-variables;
@use '../mixins' as ui-mixins;

.mdc-autocomplete {
  .mdc-text-field__ripple {
    &::before,
    &::after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px 4px 0 0;
    }
  }

  .mdc-text-field__plus {
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 999;
    display: none;
    width: 100%;
  }

  &.mdc-autocomplete--expanded {
    overflow: visible;
    z-index: 1;

    .mdc-text-field__plus {
      display: block;
    }
  }
}

.mdc-autocomplete__list .mdc-list,
.mdc-autocomplete__list .mdc-list-item {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.mdc-autocomplete__list {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
  text-align: left;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: rgba(theme-variables.prop-value(primary), 0.5);
  border-color: var(
    --mdc-theme-primary,
    rgba(theme-variables.prop-value(primary), 0.5)
  );
  @include ui-mixins.background;

  .mdc-list-item {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;

    b {
      font-weight: bold;
    }

    &.selected {
      @include ui-mixins.selected();
    }
  }
}
