@use '@material/theme/theme';
@use '@material/theme/theme-color';
@use '@material/textfield/variables' as textfield-variables;
@use '@material/menu-surface/variables' as menu-surface-variables;
@use '../mixins' as ui-mixins;

.mdc-autocomplete {
  .mdc-text-field__ripple {
    &::before,
    &::after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px 4px 0 0;
    }
  }

  .mdc-text-field__plus {
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 999;
    display: none;
    width: 100%;
  }

  &.mdc-autocomplete--expanded {
    overflow: visible;
    z-index: 1;

    .mdc-text-field__plus {
      display: block;
    }
  }
}

.mdc-autocomplete__list .mdc-list,
.mdc-autocomplete__list .mdc-list-item {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.mdc-autocomplete__list {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(50vh - #{menu-surface-variables.$min-distance-from-edge});
  text-align: left;
  border-width: 0 textfield-variables.$outlined-stroke-width
    textfield-variables.$outlined-stroke-width;
  border-style: solid;
  @include theme.property(border-color, primary);
  @include ui-mixins.background;

  .mdc-list-item {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;

    strong {
      font-weight: bold;
    }

    &.selected {
      @include ui-mixins.selected();
    }
  }
}
