@use '@material/elevation/mixins' as elevation-mixins;
@use './variables' as bottom-navigation-variables;

.mdc-bottom-navigation--fixed-adjust,
.mdc-bottom-navigation--stacked-fixed-adjust {
  position: absolute;
  top: 0;
  right: 0;
  bottom: bottom-navigation-variables.$height;
  left: 0;
  overflow-x: hidden;
}

.mdc-bottom-navigation--stacked-fixed-adjust {
  bottom: bottom-navigation-variables.$stacked-height;
}

.mdc-bottom-navigation {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  height: bottom-navigation-variables.$height;
  background-color: bottom-navigation-variables.$fill-color;
  @include elevation-mixins.elevation(4);

  &.mdc-bottom-navigation--stacked {
    height: bottom-navigation-variables.$stacked-height;
  }

  .mdc-tab__content,
  .mdc-tab__text-label {
    color: bottom-navigation-variables.$color;
  }

  .mdc-tab--active {
    color: bottom-navigation-variables.$active-fill-color;
  }

  .mdc-tab-scroller__scroll-content {
    width: 100%;
  }
}

@each $width in bottom-navigation-variables.$destinations {
  .mdc-bottom-navigation--dest-#{$width} {
    .mdc-tab {
      width: percentage($width/100);
    }
  }
}
