@use '@material/theme/theme-color';

$destinations: 33, 25, 20; // percent
$height: 48px !default;
$stacked-height: 72px !default;
$color: theme-color.prop-value(primary) !default;
$fill-color: white !default;
$active-fill-color: rgba($color, 0.87) !default;
