@use './variables' as card-variables;

.mdc-card__text {
  padding: card-variables.$text-wrapper-padding;

  & + & {
    padding-top: 0;
  }
}

.mdc-card__media + .mdc-card__text {
  padding-top: card-variables.$text-wrapper-padding;
}
