.demo--button {
  .demo-wrapper {
    padding-bottom: 100px;
  }
  .demo-wrapper.mdc-theme--dark {
    background-color: #333;
  }
  .demo-wrapper.mdc-theme--dark fieldset legend,
  .demo-wrapper.mdc-theme--dark h1 {
    color: #f0f0f0;
  }
  fieldset {
    padding: 24px;
    padding-top: 0;
    padding-bottom: 16px;
  }
  fieldset .mdc-button {
    margin: 16px;
  }
  .hero button {
    margin-left: 32px;
    margin-right: 32px;
  }
  fieldset legend {
    display: block;
    padding: 16px;
    padding-top: 48px;
    padding-bottom: 24px;
  }
  h1 {
    padding-left: 36px;
    padding-top: 64px;
    padding-bottom: 8px;
  }
  .mdc-form-field {
    margin: 50px 0 -20px 30px;
  }
}
