fieldset {
  margin: 24px;
  margin-top: 0;
  margin-bottom: 16px;
}

fieldset .mdc-button {
  margin: 16px;
}

.mdc-theme--dark fieldset {
  background-color: #333;
}

.mdc-theme--dark fieldset legend {
  color: #f0f0f0;
}

.hero button {
  margin-left: 32px;
  margin-right: 32px;
}

fieldset legend {
  display: block;
  padding: 16px;
  padding-top: 64px;
  padding-bottom: 24px;
}
