fieldset {
  margin-bottom: 0.5rem;
}

fieldset .mdc-button {
  margin: 16px;
}

.mdc-theme--dark fieldset {
  background-color: #333;
}

legend {
  background: white;
}

.mdc-theme--dark legend {
  background: #333;
  color: white;
  padding: 0px 2px;
  border: 2px groove #c0c0c0;
}
