.demo--checkbox {
  .example--with-js .mdc-form-field {
    min-width: 450px;
  }

  .demo-toggle-group {
    display: inline-block;
  }

  @media (max-width: 600px) {
    .mdc-button {
      margin-bottom: 4px;
    }
  }

  .mdc-button code {
    text-transform: none;
  }
}
