// Used by ready.js to test whether the CSS has finished loading.
.demo-ready-detect {
  position: relative;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-title {
  font-family: 'Roboto Mono', monospace;
}

.catalog-logo,
.catalog-back {
  color: #eee;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 360px;
  min-height: 360px;
  background-color: rgba(0, 0, 0, 0.05);
}

// Default padding on all examples.
section.example {
  margin: 24px;
  padding: 24px;
}

section.example {
  h2 {
    margin-left: 0;
  }
}
