body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.mdc-toolbar {
  a {
    color: #f0f0f0;
    text-decoration: none;
  }
}

.catalog-title {
  font-family: "Roboto Mono", monospace;
}

.catalog-logo,
.catalog-back {
  padding-right: 24px;
  color: #eee;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 360px;
  min-height: 360px;
  background-color: rgba(0, 0, 0, .05);
}

/* Default padding on all examples. */
section.example {
  margin: 24px;
  padding: 24px;
}

section.example {
  h2 {
    margin-left: 0;
  }
}

.catalog-list {
  padding-left: 28px;
}
.catalog-list-icon {
  margin-right: 24px;
}

ul.catalog-list {
  a {
    text-decoration: none;
    color: #212121;
  }
}
.catalog-component-list-content {
  padding-left: 24px;
  order: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.catalog-component-list-title {
  order: 1;
}

.catalog-component-list-description {
  color: #999;
  order: 2;
}
