.demo--dialog {
  .demo-body {
    padding: 24px;
    margin: 0;
    box-sizing: border-box;
  }
  .demo-content > button {
    margin-bottom: 6px;
  }
  .mdc-theme--dark {
    background-color: #303030;
  }
  section.demo-content {
    padding: 24px;
  }
  .catalog-dialog-demo {
    position: relative;
    width: 320px;
  }
}
