.demo--dialog {
  .demo-body {
    padding: 24px;
    margin: 0;
    box-sizing: border-box;
  }

  .demo-content>button {
    margin-bottom: 6px;
  }

  section.demo-content {
    padding: 24px;
  }

  .catalog-dialog-demo {
    position: relative;
    width: 320px;
    z-index: auto;
  }

  .dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
