.page-donate {
  .hero {
    overflow: hidden; // fix(@material-components): ripple bug
  }

  .donate-method {
    list-style: none;
    width: 256px;
    height: 300px;
    margin: 0 auto;
    background: none center no-repeat;
    background-size: contain;

    &.alipay {
      background-image: url('../images/alipay.png');
    }

    &.wechatpay {
      background-image: url('../images/wechatpay.png');
    }
  }
}

.laravel-admin {
  display: block;
  width: 320px;
  height: 73px;
  background: url('../images/support/laravel-admin.png') center no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.zmto {
  display: block;
  width: 400px;
  height: 100px;
  background: url('../images/support/zmto.svg') center no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
