.page--donate {
  .hero {
    overflow: hidden; // fix(@material-components): ripple bug
  }

  .donate-method {
    list-style: none;
    width: 256px;
    height: 300px;
    margin: 0 auto;
    background: none center no-repeat;
    background-size: contain;

    &.alipay {
      background-image: url('../images/alipay.png');
    }

    &.wechatpay {
      background-image: url('../images/wechatpay.png');
    }
  }
}
