.balmui-navigation_permanent-drawer-above-toolbar,
.balmui-navigation_permanent-drawer-below-toolbar,
.balmui-navigation_dismissible-drawer-full-height-drawer {
  .balmui-container {
    display: block;
    min-height: auto;
  }
}

.page--drawer {
  .hero-demo {
    h3 {
      text-align: left;
    }
  }

  .demo-app-content {
    overflow: auto;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.page--permanent-drawer-above-toolbar {
  .demo-content {
    position: relative;
  }

  .demo-app-bar {
    position: absolute;
  }
}

.page--permanent-drawer-above-toolbar,
.page--dismissible-drawer-full-height-drawer {
  .demo-content {
    width: 100%;
  }
}

.page--permanent-drawer-below-toolbar,
.page--dismissible-drawer-below-top-app-bar {
  .demo-app-content {
    width: 100%;
  }
}

.page--dismissible-drawer-below-top-app-bar {
  .demo-app-bar {
    z-index: 7;
  }
}
