/// Ensure layout covers the entire screen.
.balmui--persistent-drawer,
.balmui--permanent-drawer-above-toolbar,
.balmui--permanent-drawer-below-toolbar {
  height: 100%;
}

.demo--temporary-drawer {
  .demo-main {
    padding-left: 16px;
    overflow: auto;
  }
}

/* Stack toolbar and main on top of each other. */
.demo--persistent-drawer,
.demo--permanent-drawer-above-toolbar {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  /* Stack toolbar and main on top of each other. */
  .demo-content {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
  }
  .demo-main {
    padding-left: 16px;
  }
}

.demo--permanent-drawer-above-toolbar,
.demo--permanent-drawer-below-toolbar {
  .extra-content-wrapper {
    padding: 10px;
  }
  #extra-wide-content {
    width: 200vw;
  }
  #extra-tall-content {
    height: 200vh;
  }
}

.demo--permanent-drawer-above-toolbar {
  /* Place drawer above toolbar shadow. */
  .mdc-permanent-drawer {
    z-index: 2;
  }
}

.demo--permanent-drawer-below-toolbar {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  /* Place drawer and main next to each other. */
  .demo-content {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
  }
  .demo-main {
    padding-left: 16px;
  }
}
