.demo--drawer {
  .hero-demo.mdc-drawer-root {
    height: auto;
  }
}

.demo--drawer {
  .demo-app-content {
    overflow: auto;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.demo--permanent-drawer-above-toolbar {
  .demo-content {
    position: relative;
  }

  .demo-app-bar {
    position: absolute;
  }
}

.demo--permanent-drawer-above-toolbar,
.demo--dismissible-drawer-full-height-drawer,
.demo--modal-drawer {
  .demo-content {
    width: 100%;
  }
}

.demo--permanent-drawer-below-toolbar,
.demo--dismissible-drawer-below-top-app-bar {
  .demo-app-content {
    width: 100%;
  }
}
