/// Ensure layout covers the entire screen.
.balmui--layouts-permanent-drawer-above-toolbar,
.balmui--layouts-permanent-drawer-below-toolbar,
.balmui--layouts-dismissible-drawer,
.balmui--layouts-modal-drawer {
  .demo--drawer {
    display: flex;
    height: 100vh;
  }
}

.demo--drawer {
  .demo-main {
    position: relative;
    flex: auto;
    overflow: auto;
    background: #fff;
  }

  .demo-top-app-bar {
    position: absolute;
  }

  .demo-content {
    padding-left: 16px;
    padding-right: 16px;
    overflow: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

.balmui--layouts-permanent-drawer-below-toolbar {
  .demo-main {
    display: flex;
  }
}
