.demo--elevation {
  .demo-surfaces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .demo-surface {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 80px;
    border-radius: 3px;
    font-size: 0.8em;
    color: #9e9e9e;
    background: white;
  }

  .hero .demo-surface {
    width: 120px;
    height: 48px;
    margin: 24px;
    background-color: #212121;
    color: #f0f0f0;
  }

  #hover-el {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 4px;
  }
}
