fieldset {
  margin-bottom: 0.5rem;
}

fieldset .mdc-fab {
  margin: 16px;
}

#demo-absolute-fab {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  #demo-absolute-fab {
    bottom: 3rem;
    right: 5rem;
  }
}
