@use '../../../src/styles/balm-ui/components/form-field/variables' as form-variables;

.page--form {
  .mdc-form {
    padding: 10px;
    border: 1px solid;
  }

  .mdc-form-field {
    margin-bottom: 16px;
  }

  .mdc-form--horizontal {
    .mdc-form-field > label {
      flex-basis: 60px;
      margin-right: 10px;
    }

    .mdc-form-action {
      padding-left: 70px;
    }

    .mdc-button {
      margin-right: 10px;
    }
  }

  .mdc-form--vertical {
    .mdc-button {
      margin-bottom: 10px;
    }
  }
}
