.demo--grid-list {
  .demo-grid-tile-content {
    background-image: url('../images/16-9.jpg');
  }

  .example h2 {
    font-size: 1.3em;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
  }

  .hero .mdc-grid-list {
    width: 320px;
    background-color: white;
  }

  .hero .mdc-grid-tile__primary {
    background-color: #212121;
  }

  .hero .mdc-grid-tile {
    width: 76px;
  }
}
