.demo--grid {
  width: 100%;
  .demo-grid {
    margin-bottom: 32px;

    background-color: #ddd;
  }
  .demo-cell {
    font-size: 1.5em;

    box-sizing: border-box;
    height: 200px;
    padding: 8px;

    color: white;
    background-color: #666;
  }
  .demo-parent-cell {
    position: relative;

    background-color: #aaa;
  }
  .demo-parent-cell>span {
    font-size: 1.5em;

    position: absolute;
    top: 8px;
    left: 8px;

    color: white;
  }
  .demo-child-cell {
    position: relative;
  }
  .demo-child-cell>span {
    position: absolute;
    right: 8px;
    bottom: 8px;

    color: #ddd;
  }
  .demo-grid.max-width {
    max-width: 1280px;
  }
  .demo-grid-legend {
    margin: 16px 0 8px 0;
  }
  .demo-ruler {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 20px;
    margin: 0;

    color: white;
    background: black;

    align-items: center;
    justify-content: center;
  }
  .demo-controls {
    display: none;

    margin-bottom: 8px;
  }
  .demo-warning::after {
    content: 'This browser does not support custom properties, so margins and gutters cannot be changed at runtime.';
  }
  @supports (--foo: green) {
    .demo-controls {
      display: block;
    }
    .demo-warning::after {
      content: '';
    }
  }
  .examples {
    margin: 24px;
  }
  .hero .demo-grid {
    min-width: 360px;
  }
  .hero .demo-cell {
    height: 60px;
  }
}
