.page-containment_grid {
  width: 100%;

  .demo-grid {
    background-color: #dddddd;
    margin-bottom: 32px;
  }

  .demo-cell {
    box-sizing: border-box;
    background-color: #666666;
    height: 200px;
    padding: 8px;
    color: white;
    font-size: 1.5em;
  }

  .demo-parent-cell {
    position: relative;
    background-color: #aaaaaa;
  }

  .demo-child-cell {
    position: relative;
  }

  .demo-child-cell > span {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #ddd;
  }

  .demo-grid.max-width {
    max-width: 1280px;
  }

  .demo-grid-legend {
    margin: 16px 0 8px 0;
  }

  .demo-ruler {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    margin: 0;
    background: black;
    color: white;
  }

  .demo-controls {
    display: none;
    margin-bottom: 8px;
  }

  .demo-warning::after {
    content: 'This browser does not support custom properties, so margins and gutters cannot be changed at runtime.';
  }

  @supports (--foo: green) {
    .demo-controls {
      display: block;
    }

    .demo-warning::after {
      content: '';
    }
  }

  .hero .demo-grid {
    min-width: 320px;
  }

  .hero .demo-cell {
    height: 60px;
  }

  .demo-parent-cell .mdc-layout-grid__inner > span {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 1.5em;
    color: white;
  }
}
