@use '@material/icon-button/mixins' as icon-button-mixins;
@use '@material/ripple/mixins' as ripple-mixins;
@use '../global/index' as global;

.demo--icon-button {
  // .demo-wrapper {
  //   margin-left: 1rem;
  // }
  .example {
    display: flex;
    flex-flow: row wrap;
    align-content: left;
    justify-content: left;
  }

  .toggle-example {
    min-width: 260px;
    margin: 24px;
    padding: 24px;
  }

  .toggle-examples-container {
    display: flex;
  }

  #demo-color-combos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .demo-color-combo {
    width: 250px;
    padding: 1rem;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  #light-on-bg {
    background-color: #3e82f7;
  }

  #light-on-bg .mdc-icon-button {
    @include icon-button-mixins.ink-color(white);
    @include ripple-mixins.states-base-color(white);
    @include ripple-mixins.states-hover-opacity(0.1);
    @include ripple-mixins.states-focus-opacity(0.3);
    @include ripple-mixins.states-press-opacity(0.4);
  }

  #dark-on-bg {
    background-color: #00bcd6;
  }

  #dark-on-bg .mdc-icon-button {
    @include icon-button-mixins.ink-color(black);
    @include ripple-mixins.states(black);
  }

  #custom-color-combo .mdc-icon-button {
    @include icon-button-mixins.ink-color(#de442c);
    @include ripple-mixins.states-base-color(#de442c);
    @include ripple-mixins.states-hover-opacity(0.09);
    @include ripple-mixins.states-focus-opacity(0.26);
    @include ripple-mixins.states-press-opacity(0.35);
  }
}

.demo--icon-button {
  .toggle-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: auto;
    margin: 0 20px;
    padding: 0;
  }

  .toggle-examples-container,
  #demo-color-combos {
    flex-wrap: wrap;
  }

  .demo-color-combo {
    margin: 0 8px 8px 0;
  }

  @media (max-width: global.$mobile-breakpoint) {
    .toggle-examples-container,
    #demo-color-combos {
      flex-direction: column;
    }
  }
}
