.demo--material-icons {
  .material-icons {
    overflow: hidden;
  }
  .mdc-list-item {
    display: block;
    height: auto;
  }
  .mdc-grid-tile {
    width: 128px;
    height: 128px;
  }
  .mdc-grid-tile__secondary {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all .4s;
    color: #757575;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    &:hover {
      background-color: #e0e0e0;
    }
  }
  .mdc-grid-tile__icon {
    position: static;
    cursor: pointer;
  }
  .mdc-grid-tile__title {
    font-size: 12px;
    @include ellipsis(100px);
  }
  .new-badge {
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 2px 3px;
    color: #fff;
    border-radius: 2px;
    background: #fe6363;
  }
}
