.demo--icon {
  .icons-preview-code {
    display: flex;
    text-align: center;
  }
  .search-area {
    position: sticky;
    top: 49px;
    z-index: 1;
    background-color: white;
    margin: 0;
  }
  #search {
    text-indent: 60px;
  }
  .search-helper {
    padding: 20px;
    font-size: 14px;
    b {
      color: $mdc-theme-primary;
    }
  }
  .material-icons {
    overflow: hidden;
  }
  // Icon list
  .mdc-list-group__subheader {
    text-transform: capitalize;
  }
  .mdc-image-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
    padding: 8px;
    transition: all 0.4s;
    color: #757575;
    background: transparent;
    &:hover {
      background-color: #e0e0e0;
    }
  }
  .mdc-image-list__image-aspect-container {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0;
    position: static;
    i {
      cursor: pointer;
    }
  }
  .mdc-image-list__supporting {
    font-size: 12px;
    @include ellipsis(100px);
  }
  .new-badge {
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 2px 3px;
    color: #fff;
    border-radius: 2px;
    background: #fe6363;
  }
  @media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    .coloring-example {
      .icons-preview-code {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
    .mdc-image-list__item {
      width: 88px;
      height: 88px;
      .md-48 {
        font-size: 24px;
        width: 24px;
        height: 24px;
      }
      .mdc-image-list__supporting {
        display: none;
      }
    }
  }

  .category-affix {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: 200px;
    overflow-y: auto;
    background: white;
    z-index: 11;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    .mdc-tab {
      width: 100%;
      justify-content: start;
    }
  }
}

.icons-preview {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f9f9f9;
  width: 128px;
  padding: 16px;
  .icon-caption {
    font-size: 13px;
    margin-top: 8px;
  }
  &.icons-dark-bg {
    background-color: #333;
    .icon-caption {
      color: #fff;
    }
  }
  .orange600 {
    color: #fb8c00;
  }
}
