.demo--icon {
  .icons-preview-code {
    display: flex;
    text-align: center;
  }
  #search {
    text-indent: 60px;
  }
  .search-helper {
    margin: 20px;
    font-size: 14px;
  }
  .material-icons {
    overflow: hidden;
  }
  .mdc-list-item {
    display: block;
    height: auto;
  }
  .mdc-grid-tile {
    width: 128px;
    height: 128px;
  }
  .mdc-grid-tile__secondary {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 0.4s;
    color: #757575;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    &:hover {
      background-color: #e0e0e0;
    }
  }
  .mdc-grid-tile__icon {
    position: static;
    cursor: pointer;
  }
  .mdc-grid-tile__title {
    font-size: 12px;
    @include ellipsis(100px);
  }
  .new-badge {
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 2px 3px;
    color: #fff;
    border-radius: 2px;
    background: #fe6363;
  }
  @media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    .coloring-example {
      .icons-preview-code {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
    .mdc-list>.mdc-list-item {
      padding: 0;
    }
    .mdc-grid-tile {
      width: 88px;
      height: 88px;
    }
  }
}

.icons-preview {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f9f9f9;
  width: 128px;
  padding: 16px;
  .icon-caption {
    font-size: 13px;
    margin-top: 8px;
  }
  &.icons-dark-bg {
    background-color: #333;
    .icon-caption {
      color: #fff;
    }
  }
  .orange600 {
    color: #fb8c00;
  }
}
