.demo--icon-button {
  .mdc-typography--headline5 {
    margin: 0;
  }
  .example {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
  }
  .toggle-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0 20px;
  }
  .toggle-examples-container {
    display: flex;
    flex-wrap: wrap;
  }
  #demo-color-combos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .demo-color-combo {
    width: 250px;
    padding: 1rem;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 8px 8px 0;
  }
  #light-on-bg {
    background-color: #3e82f7;
  }
  #light-on-bg .mdc-icon-button {
    @include mdc-icon-button-ink-color(white);
    @include mdc-states-base-color(white);
    @include mdc-states-hover-opacity(0.1);
    @include mdc-states-focus-opacity(0.3);
    @include mdc-states-press-opacity(0.4);
  }
  #dark-on-bg {
    background-color: #00bcd6;
  }
  #dark-on-bg .mdc-icon-button {
    @include mdc-icon-button-ink-color(black);
    @include mdc-states(black);
  }
  #custom-color-combo .mdc-icon-button {
    @include mdc-icon-button-ink-color(#de442c);
    @include mdc-states-base-color(#de442c);
    @include mdc-states-hover-opacity(0.09);
    @include mdc-states-focus-opacity(0.26);
    @include mdc-states-press-opacity(0.35);
  }
  .demo-icon-button-large {
    @include mdc-icon-button-size(36px);
  }
  @media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    .toggle-examples-container,
    #demo-color-combos {
      flex-direction: column;
    }
  }
}
