.demo--linear-progress {
  .mdc-linear-progress {
    margin: 16px 0;
  }
  fieldset legend {
    display: block;
    padding: 16px;
    padding-top: 64px;
    padding-bottom: 24px;
  }
  .linear-progress-demo {
    margin: 0 0 64px;
  }
}
