.demo--list {
  .mdc-list,
  .mdc-list-group {
    max-width: 600px;
  }
  .mdc-theme--dark {
    background: #303030;
  }
  .mdc-theme--dark>h3 {
    color: white;
  }
  .grey-bg {
    background: rgba(0, 0, 0, .26);
  }
  #icon-with-text-demo .mdc-list-item__start-detail {
    color: rgba(0, 0, 0, .54);
  }
  .mdc-theme--dark #icon-with-text-demo .mdc-list-item__start-detail {
    color: rgba(255, 255, 255, .7);
  }
  #avatar-text-icon-demo-list .mdc-list-item__end-detail > * {
    text-decoration: none;

    color: #ff4081; // Pink A200

    width: 24px;
    height: 24px;
  }
  .two-line-avatar-text-icon-demo .mdc-list-item__start-detail {
    display: inline-flex;

    color: white;

    align-items: center;
    justify-content: center;
  }
  .two-line-avatar-text-icon-demo .mdc-list-item__end-detail {
    text-decoration: none;

    color: rgba(0, 0, 0, .26);
  }
  .mdc-theme--dark .two-line-avatar-text-icon-demo .mdc-list-item__start-detail {
    color: #303030;
    background-color: rgba(255, 255, 255, .7);
  }
  .mdc-theme--dark .two-line-avatar-text-icon-demo .mdc-list-item__end-detail {
    color: rgba(255, 255, 255, .7);
  }
  .preamble {
    max-width: 600px;
    margin-top: 48px;
    margin-left: 72px;
  }
  #demo-wrapper {
    margin: 24px;
  }
  #demo-wrapper section {
    padding: 24px;
  }
  #demo-wrapper .mdc-list,
  #demo-wrapper .mdc-list-group {
    border: 1px solid rgba(0, 0, 0, .1);
  }
  #demo-wrapper .mdc-list-group .mdc-list,
  #demo-wrapper .mdc-theme--dark .mdc-list,
  #demo-wrapper .mdc-theme--dark .mdc-list-group {
    border: none;
  }
  #demo-wrapper h2 {
    font-size: 1.5em;

    margin-bottom: .8em;
    margin-left: 24px;
  }
  #demo-wrapper h3 {
    margin-bottom: .8em;
  }
  .hero .mdc-list {
    min-width: 320px;

    background-color: white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
  }
}
