.mdc-list,
.mdc-list-group {
  max-width: 600px;
}

.mdc-theme--dark {
  background: #303030;
}

.mdc-theme--dark > h3 {
  color: white;
}

.grey-bg {
  background: rgba(0, 0, 0, .26);
}

#icon-with-text-demo .mdc-list-item__start-detail {
  color: rgba(0, 0, 0, .54);
}

.mdc-theme--dark #icon-with-text-demo .mdc-list-item__start-detail {
  color: rgba(255, 255, 255, .7);
}

#avatar-text-icon-demo-list .mdc-list-item__end-detail {
  text-decoration: none;
  color: #ff4081;
  /* Pink A200 */
}

.two-line-avatar-text-icon-demo .mdc-list-item__start-detail {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.two-line-avatar-text-icon-demo .mdc-list-item__end-detail {
  color: rgba(0, 0, 0, .26);
  text-decoration: none;
}

.mdc-theme--dark .two-line-avatar-text-icon-demo .mdc-list-item__start-detail {
  background-color: rgba(255, 255, 255, .7);
  color: #303030;
}

.mdc-theme--dark .two-line-avatar-text-icon-demo .mdc-list-item__end-detail {
  color: rgba(255, 255, 255, .7);
}
