@use '@material/elevation/mixins' as elevation-mixins;
@use '../global/color' as color;

.page--list {
  .mdc-deprecated-list,
  .mdc-deprecated-list-group {
    max-width: 600px;
  }

  .demo-wrapper .mdc-deprecated-list,
  .demo-wrapper .mdc-deprecated-list-group {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .demo-wrapper .mdc-deprecated-list-group .mdc-deprecated-list {
    border: none;
  }

  .demo-wrapper h2 {
    margin-bottom: 0.8em;
    margin-left: 24px;
  }

  .demo-wrapper h3 {
    margin-bottom: 0.8em;
  }

  .hero-demo .mdc-deprecated-list {
    @include elevation-mixins.elevation(4);
    min-width: 320px;
    background-color: white;
  }
}
