.demo--menu {
  .hero .mdc-menu {
    position: static; // just for hero
    z-index: initial;
  }
  .demo-content {
    position: relative;
    top: 64px;
  }
  .demo-controls-container {
    width: 100%;
    height: calc(100vh - 80px);
  }
  .demo-controls {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
  }
  .mdc-menu-anchor {
    position: absolute;
    margin: 16px;
  }
  .margin-inputs input {
    width: 2em;
  }
  .left-column-controls {
    display: inline-block;
    vertical-align: top;
  }
  .right-column-controls {
    display: inline-block;
    margin-left: 2em;
    vertical-align: top;
  }
  .demo-button__normal-text,
  .demo-button__long-text {
    display: none;
  }
  .demo-button--normal .demo-button__normal-text,
  .demo-button--long .demo-button__normal-text,
  .demo-button--long .demo-button__long-text {
    display: inline;
  }
  .demo-menu__long-items,
  .demo-menu__extra-long-items {
    display: none;
  }
  .demo-menu--long .demo-menu__long-items,
  .demo-menu--extra-long .demo-menu__long-items,
  .demo-menu--extra-long .demo-menu__extra-long-items {
    display: inline;
  }
}
