.docs--radio {
  .mdc-theme--dark {
    background-color: #303030;
  }
  // Example of manually theming a radio. In a real app, the primary color would have enough
  // contrast from the dark background that this wouldn't be necessary.
  .mdc-theme--dark .mdc-radio__native-control:checked:not(:disabled) ~ .mdc-radio__background .mdc-radio__outer-circle {
    border-color: #e91e63;
  }
  .mdc-theme--dark .mdc-radio__native-control:checked:not(:disabled) ~ .mdc-radio__background .mdc-radio__inner-circle {
    background-color: #e91e63;
  }
  .mdc-theme--dark .mdc-radio__background::before {
    background-color: #e91e63;
  }
  .mdc-theme--dark .mdc-radio.mdc-ripple-upgraded::before,
  .mdc-theme--dark .mdc-radio.mdc-ripple-upgraded::after {
    background-color: rgba(233, 31, 99, .2);
  }
  .example {
    margin: 24px;
    padding: 24px;
  }
}
