.demo--slider {
  #hero-slider-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    /* Blended equivalent of rgba(0, 0, 0, .05); */
    --mdc-slider-bg-color-behind-component: #f2f2f2;
  }

  .custom-bg {
    background-color: #eee;
    --mdc-slider-bg-color-behind-component: #eee;
  }

  .mdc-typography--headline6 {
    margin: 0;
  }

  .slider-example {
    margin-bottom: 40px;
  }

  .demo-param-field-group + .demo-param-field-group {
    margin-top: 16px;
  }

  .demo-param-field {
    display: block;
  }

  .demo-param-input-label {
    display: inline-block;
    min-width: 2.5em;
  }

  .example-slider-wrapper {
    padding: 0 16px;
  }
}
