.demo--snackbar {
  /* initialize it off screen. */
  .loading .example .mdc-snackbar {
    transform: translateY(200%);
  }

  /* Override style for hero example. */
  .hero .mdc-snackbar {
    position: relative;
    left: auto;
  }
  .hero .mdc-snackbar--active {
    transform: none;
  }

  .field {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .demo-activate-button {
    margin-top: 14px;
  }
}
