@use '../../../src/material-components-web/tab/mixins' as tab-mixins;
@use '../../../src/material-components-web/tab-indicator/mixins' as tab-indicator-mixins;
@use '../../../src/material-components-web/ripple/mixins' as ripple-mixins;
@use '../../../src/material-components-web/typography/mixins' as typography-mixins;
@use '../global/index' as global;

.demo--tabs {
  .hero-demo .mdc-tab-bar.long {
    width: 450px;
  }
  .demo {
    display: flex;
    align-items: center;
  }
  .demo-tab {
    flex: 0 1 auto;
  }
  .custom-tab {
    @include tab-mixins.text-label-color(global.$blue-300);
    @include tab-mixins.icon-color(global.$orange-300);
    .custom-tab-indicator {
      @include tab-indicator-mixins.underline-color(global.$pink-a700);
      @include tab-indicator-mixins.underline-height(5px);
      @include tab-indicator-mixins.underline-top-corner-radius(5px);
    }
    .mdc-tab__ripple {
      @include ripple-mixins.states(global.$pink-100);
    }
    &.mdc-tab--active {
      @include tab-mixins.text-label-color(global.$blue-900);
      @include tab-mixins.icon-color(global.$orange-900);
    }
  }
  /* tab bar */
  .hero-demo-tab-bar {
    background-color: #f2f2f2;
    max-width: 420px;
  }
  .custom-demo-tab-bar {
    .mdc-tab {
      @include typography-mixins.typography(subtitle1);
      @include tab-mixins.fixed-width(120px);
      @include tab-mixins.text-label-color(global.$blue-600);
      @include tab-mixins.icon-color(global.$blue-600);
    }
    .mdc-tab__ripple {
      @include ripple-mixins.states(global.$yellow-700);
    }
    .mdc-tab--active {
      @include tab-mixins.text-label-color(global.$blue-900);
      @include tab-mixins.icon-color(global.$blue-900);
    }
    .mdc-tab-indicator {
      @include tab-indicator-mixins.underline-height(5px);
      @include tab-indicator-mixins.underline-color(global.$yellow-700);
    }
  }
  /* tab scroller */
  .demo-scroller {
    width: 360px;
    outline: 1px solid global.$grey-400;
  }
  .demo-cube {
    width: 43px;
    height: 43px;
    margin: 10px;
  }
  @for $i from 1 through 34 {
    .demo-cube:nth-child(#{$i}) {
      background-color: rgb(
        10 + random(230),
        10 + random(230),
        10 + random(230)
      );
    }
  }
  .demo-controller {
    padding: 10px 0;
  }
  .demo-controller-row {
    padding: 5px 0;
  }
}
