.demo--tabs {
  fieldset {
    padding: 24px;
    padding-top: 0;
    padding-bottom: 16px;
  }

  fieldset .mdc-button {
    margin: 16px;
  }

  .demo-header-toolbar {
    z-index: 10;
  }

  .hero button {
    margin-left: 32px;
    margin-right: 32px;
  }

  .demo-buttons {
    padding: 40px 40px 0 40px;
  }

  fieldset legend {
    display: block;
    padding: 16px;
    padding-top: 64px;
    padding-bottom: 24px;
  }

  .demo-tabs__scroller {
    margin-top: 64px;
    padding-bottom: 1px;
  }

  .demo-title {
    padding: 0 40px 40px;
  }

  .mdc-tab-bar-scroller {
    margin-bottom: 16px;
  }

  .demo-note {
    padding: 20px;
    margin: 20px 0;
    background-color: #f2f2f2;
  }

  #dynamic-demo-toolbar h1 {
    margin-left: 64px;
  }

  .panels {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
  }

  .panel {
    display: none;
  }

  .panel.active {
    display: block;
  }

  .dots {
    display: flex;
    justify-content: flex-start;
    margin-top: 4px;
    padding-bottom: 16px;
  }

  .dot {
    margin: 0 4px;
    border-radius: 50%;
    border: 1px solid #64dd17;
    width: 20px;
    height: 20px;
  }

  .dot:last-child {
    margin-right: 0;
  }

  .dot.active {
    background-color: #64dd17;
    border-color: #64dd17;
  }

  .my-modified-toolbar-section {
    position: absolute;
    right: 0;
    bottom: -16px;
  }

  [dir='rtl'] .my-modified-toolbar-section {
    right: auto;
    left: 0;
  }
}
