@use '../global/index' as global;

.page-navigation_tabs {
  .hero-demo .mdc-tab-bar.long {
    width: 450px;
  }

  .demo-tab {
    flex: 0 1 auto;
  }

  @media (max-width: global.$mobile-breakpoint) {
    .hero-demo .mdc-tab-bar {
      max-width: 320px;
    }
  }
}
