.demo--textfield {
  input[type='checkbox']:disabled + label {
    opacity: 0.4;
  }

  .hero .mdc-text-field {
    min-width: 240px;
  }

  .demo-note {
    padding: 20px;
    margin: 20px 0;
    background-color: #f2f2f2;
  }

  .full-width-textarea-example {
    margin-top: 16px;
  }
}
