.page-data-input_textfield {
  .hero .mdc-text-field {
    min-width: 240px;
  }

  .hero-demo {
    .mdc-text-field-character-counter {
      display: none;
    }
    .show-counter .mdc-text-field-character-counter {
      display: block;
    }
  }

  .demo-with-icon {
    margin-bottom: 16px;
  }

  .full-width-textarea-example {
    margin-top: 16px;
  }
}
