.page--textfield {
  .hero .mdc-text-field {
    min-width: 240px;
  }

  .hero-demo {
    .mdc-text-field
      + .mdc-text-field-helper-line
      .mdc-text-field-character-counter {
      display: none;
    }
    .mdc-text-field.show-counter
      + .mdc-text-field-helper-line
      .mdc-text-field-character-counter {
      display: block;
    }
  }

  .demo-with-icon {
    margin-bottom: 16px;
  }

  .full-width-textarea-example {
    margin-top: 16px;
  }
}
