.balm-ui--default-toolbar,
.balm-ui--fixed-toolbar,
.balm-ui--waterfall-toolbar,
.balm-ui--default-flexible-toolbar,
.balm-ui--waterfall-flexible-toolbar,
.balm-ui--waterfall-toolbar-fix-last-row {
  height: auto;
}

.demo--toolbar {
  .demo-container {
    height: 500px;
    margin: 0px;
    font-size: 16px;
    overflow: scroll;
  }
  .hero .catalog-toolbar-container {
    width: 480px;
    height: 72px;
  }
  .hero .catalog-toolbar-container .mdc-toolbar {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .examples {
    display: flex;
    flex-flow: row wrap;
    align-content: left;
    justify-content: left;
  }
  .example {
    width: 320px;
    height: 600px;
    margin: 24px;
  }
  .example iframe {
    border: 1px solid #eee;
  }
  .examples h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  p.intro {
    padding: 48px 24px;
  }
}

.demo--default-toolbar,
.demo--fixed-toolbar,
.demo--waterfall-toolbar,
.demo--default-flexible-toolbar,
.demo--waterfall-flexible-toolbar,
.demo--waterfall-toolbar-fix-last-row {
  .demo-paragraph {
    margin: 0px;
    padding: 20px 28px;
  }
  .material-icons {
    text-decoration: none;
    cursor: pointer;
    padding-right: 8px;
    color: white;
  }
  [dir='rtl'] .material-icons {
    padding-left: 8px;
  }
  @media (max-width: 599px) {
    .demo-paragraph {
      padding: 16px;
    }
  }
  footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.demo--default-flexible-toolbar,
.demo--waterfall-flexible-toolbar,
.demo--waterfall-toolbar-fix-last-row {
  .mdc-toolbar__row:first-child::after {
    background-image: url("../images/4-3.jpg");
    background-size: cover;
    background-position: center;
  }
}

.demo--waterfall-toolbar-fix-last-row {
  .mdc-toolbar {
    background-color: #141395;
    transition: background-color .2s ease;
  }
  .mdc-toolbar.mdc-toolbar--flexible-space-minimized {
    background-color: #3f51b5;
  }
}
