@use '../../../src/material-components-web/top-app-bar/variables' as top-app-bar-variables;

.demo--top-app-bar {
  width: 100%;

  .toc-affix {
    position: static;
  }

  .demo-paragraph {
    margin: 0;
    padding: 20px 28px;
  }

  @media (max-width: top-app-bar-variables.$mobile-breakpoint) {
    .demo-paragraph {
      padding: 16px;
    }
  }

  .demo-body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  // .demo-main {
  //   padding-left: 16px;
  //   padding-right: 16px;
  //   padding-bottom: 16px;
  //   overflow: auto;
  // }
}
