@use '../global/index' as global;

.page--top-app-bar {
  width: 100%;

  .toc-affix {
    position: static;
  }

  .demo-paragraph {
    margin: 0;
    padding: 20px 28px;
  }

  @media (max-width: global.$mobile-breakpoint) {
    .demo-paragraph {
      padding: 16px;
    }
  }

  .demo-body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
