@forward "../feature-targeting/variables" as mdc-feature-*;
@forward "../feature-targeting/mixins" as mdc-feature-*;
@forward "../theme/constants" as mdc-theme-*;
@forward "../theme/variables" as mdc-theme-*;
@forward "../typography/variables" as mdc-typography-*;
@forward "../rtl/variables" as mdc-rtl-*;
@forward "variables" as mdc-slider-*;
@forward "../theme/mixins" as mdc-theme-*;
@forward "../typography/mixins" as mdc-* hide mdc-base, mdc-baseline-bottom, mdc-baseline-strut-, mdc-baseline-top, mdc-core-styles, mdc-overflow-ellipsis;
@forward "../typography/mixins" as mdc-typography-* hide mdc-typography-typography;
@forward "../rtl/mixins" as mdc-* hide mdc-property-, mdc-reflexive, mdc-reflexive-box, mdc-reflexive-position, mdc-reflexive-property;
@forward "../rtl/mixins" as mdc-rtl-* hide mdc-rtl-rtl;
@forward "keyframes" as mdc-slider-*;
@forward "mixins" as mdc-slider-*;
@forward "../feature-targeting/functions" as mdc-feature-*;
@forward "../theme/functions" as mdc-theme-*;
@forward "../typography/functions" as mdc-typography-*;
@forward "mdc-slider";
