@use '@material/data-table/variables' as data-table-variables;
@use './theme';

.mdc-data-table--fullwidth {
  display: flex;
  flex: 1;
  width: 100%;
}

.mdc-data-table__cell--left {
  text-align: left;
}

.mdc-data-table__cell--center {
  text-align: center;
}

.mdc-data-table__cell--right {
  text-align: right;
}

.mdc-data-table__footer-row {
  border-top: data-table-variables.$stroke-size solid
    data-table-variables.$stroke-color;

  .mdc-data-table__cell {
    font-weight: bold;
  }
}

// NOTE: for slot
.mdc-data-table__header-cell-label {
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
}
