@use '@material/theme/theme-color';

#ql-emoji-toolbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 4;
  width: 280px;
  height: 220px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

#ql-emoji-toolbar-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

.ql-emoji-tab-bar {
  width: 100%;
  overflow-y: hidden;
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.ql-emoji-tab-scroller {
  display: flex;
  overflow-x: auto;
  padding-right: 18px;
}

.ql-emoji-tab-content {
  display: flex;
  margin: 0;
  padding: 4px 4px 0;
}

.ql-emoji-tab {
  list-style: none;
  padding: 0 8px;
  text-transform: uppercase;

  &.ql-emoji-tab--active {
    border-bottom: 2px solid theme-color.prop-value(primary);
  }
}

.ql-emoji-panel {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-content: flex-start;
  overflow-y: scroll;
  padding: 8px;
  background-color: #fff;

  .ql-emoji {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    em,
    img {
      width: 20px;
      height: 20px;
    }

    em {
      font-style: normal;
      font-size: 18px;
    }
  }
}
