@use './variables' as variables;

.mdc-select {
  display: inline-flex;
}

.mdc-select--fullwidth {
  display: flex;
  flex: 1;
}

.mdc-select__anchor .mdc-select__ripple {
  overflow: hidden; // bugfix
}

.mdc-select__menu .mdc-list .mdc-list-item--selected {
  background-color: variables.$selected-bgcolor;
  color: variables.$selected-color;
}
