@use '../mixins' as ui-mixins;

.mdc-select--fullwidth {
  display: flex;
}

.mdc-select__menu .mdc-list .mdc-list-item--selected {
  @include ui-mixins.selected();
}

.mdc-form-field .mdc-select--fullwidth {
  width: 100%;
}
