<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BalmUI - validator example</title>
  <link rel="stylesheet" href="/components/core.css">
  <link rel="stylesheet" href="/components/form-field/form-item.css">
  <link rel="stylesheet" href="/components/textfield/textfield.css">
  <link rel="stylesheet" href="/components/button/button.css">
</head>
<body>
  <div id="app">
    <fieldset>
  <legend>Form Area</legend>
  <p class="form-item">
    <ui-textfield id="mobile"
      v-model="formData.mobile"
      helper-text-id="mobile-helper-text">Mobile</ui-textfield>
    <ui-textfield-helper id="mobile-helper-text" v-model:validMsg="validMsg.mobile"></ui-textfield-helper>
  </p>
  <p class="form-item">
    <ui-textfield input-type="password"
      id="password"
      v-model="formData.password"
      helper-text-id="password-helper-text">Password</ui-textfield>
    <ui-textfield-helper id="password-helper-text" v-model:validMsg="validMsg.password"></ui-textfield-helper>
  </p>
  <p class="form-item">
    <ui-textfield input-type="password"
      id="repassword"
      v-model="formData.repassword"
      helper-text-id="repassword-helper-text">Repeat Password</ui-textfield>
    <ui-textfield-helper id="repassword-helper-text" v-model:validMsg="validMsg.repassword"></ui-textfield-helper>
  </p>
  <p class="form-actions">
    <ui-button raised @click="submit">Submit</ui-button>
  </p>
</fieldset>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="/components/textfield/index.js"></script>
  <script src="/components/button/index.js"></script>
  <script src="/plugins/validator/index.js"></script>
  <script src="/utils/types.js"></script>
  <script src="./validator-rules.js"></script>
  <script>
  // $validator.default.install(Vue, validatorRules);
  </script>
  <script>
    new Vue({
      el: '#app',
      validations: {
        mobile: {
          label: 'Mobile',
          validator: 'required, mobile'
        },
        password: {
          label: 'Password',
          validator: 'required, password, minRule, maxRule',
          minRule: {
            validate(value) {
              return value.trim().length >= 6;
            },
            message: '%s minLength >= 6'
          },
          maxRule: {
            validate(value) {
              return value.trim().length <= 8;
            },
            message: '%s maxLength <= 8'
          }
        },
        repassword: {
          label: 'Repeat Password',
          validator: 'required, password, repasswordRule',
          repasswordRule: {
            validate(value, data) {
              return value === data.password;
            },
            message: 'repassword !== password'
          }
        }
      },
      data: {
        formData: {
          mobile: '',
          password: '',
          repassword: ''
        },
        validMsg: {}
      },
      methods: {
        submit() {
          var { valid, validMsg } = this.$validate(this.formData);
          this.validMsg = validMsg;

          if (valid) {
            console.log('gg');
          }
        }
      }
    })
  </script>
</body>
</html>
