@use '@material/textfield/variables' as textfield-variables;
@use './variables' as rangepicker-variables;

.mdc-rangepicker {
  display: inline-flex;
}

.mdc-rangepicker__separator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: textfield-variables.$height;
  padding: rangepicker-variables.$separator-padding;
}

.mdc-rangepicker__end .mdc-text-field__input {
  cursor: pointer;
}
