@use '../global/index' as global;
@use '../global/color' as color;

a {
  color: global.$primary;
}

.balmui-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.balmui-test .balmui-container {
  display: block;
  min-height: auto;
}

.balmui-head {
  .github > span {
    display: none;
  }
}

.global-message-banner {
  position: fixed;
  z-index: 3;
  top: global.$topAppBar-row-height;
}

.balmui-body {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  max-width: 100%;
}

.balmui-drawer-container {
  min-width: global.$nav-width;

  &.balmui-drawer--mobile {
    min-width: auto;
    .balmui-menu {
      z-index: 9; // NOTE: > snackbar
    }
  }
}

.balmui-menu {
  position: fixed;
  z-index: 3;
  width: global.$nav-width;

  .mdc-drawer__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .balmui-version {
    font-weight: normal;
    .version {
      color: color.$orange-900;
    }
  }

  .mdc-list-item--activated {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.balmui-content {
  position: relative;
  display: block;
  width: 100%;
}

.catalog-list {
  .mdc-list-group__subheader {
    font-size: 18px;
  }

  .no-icon {
    padding-left: 28px;
  }

  .plus,
  .next {
    margin-left: 5px;
  }
}

.catalog-list-icon {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 12px;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (min-width: #{global.$MIN_WIDTH}px) {
  .balmui-content {
    width: calc(100% - #{global.$nav-width});
  }

  #balmui-menu {
    display: none;
  }
}

@media (max-width: global.$mobile-breakpoint) {
  .global-message-banner {
    top: global.$topAppBar-mobile-row-height;

    .mdc-banner__content {
      width: auto;
    }

    .mdc-banner__text {
      margin-right: 24px;
    }
  }
}
