.mdc-datepicker {
  .mdc-datepicker__icon {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 48px;
    pointer-events: auto;

    > span {
      cursor: pointer;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .flatpickr-mobile {
    min-width: 180px; // fix(ui): for mobile
  }
}
