@forward "../../rtl/variables" as mdc-rtl-*;
@forward "../../theme/constants" as mdc-theme-*;
@forward "../../theme/variables" as mdc-theme-*;
@forward "../../feature-targeting/variables" as mdc-feature-*;
@forward "../../feature-targeting/mixins" as mdc-feature-*;
@forward "../../rtl/mixins" as mdc-* hide mdc-property-, mdc-reflexive, mdc-reflexive-box, mdc-reflexive-position, mdc-reflexive-property;
@forward "../../rtl/mixins" as mdc-rtl-* hide mdc-rtl-rtl;
@forward "../../theme/mixins" as mdc-theme-*;
@forward "mixins" as mdc-text-field-*;
@forward "../../theme/functions" as mdc-theme-*;
@forward "../../feature-targeting/functions" as mdc-feature-*;
@forward "mdc-text-field-icon";
