//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use './banner/styles' as banner-styles;
@use './button/mdc-button';
@use './card/mdc-card';
@use './checkbox/mdc-checkbox';
@use './chips/deprecated/mdc-chips';
@use './circular-progress/mdc-circular-progress';
// Select's styles must be emitted before datatable's due to equal specificity.
@use './select/mdc-select';
@use './data-table/mdc-data-table';
@use './dialog/mdc-dialog';
@use './drawer/mdc-drawer';
@use './elevation/mdc-elevation';
@use './fab/mdc-fab';
@use './floating-label/mdc-floating-label';
@use './form-field/mdc-form-field';
@use './icon-button/mdc-icon-button';
@use './image-list/mdc-image-list';
@use './layout-grid/mdc-layout-grid';
@use './line-ripple/mdc-line-ripple';
@use './linear-progress/mdc-linear-progress';
@use './list/mdc-list';
@use './menu/mdc-menu';
@use './menu-surface/mdc-menu-surface';
@use './notched-outline/mdc-notched-outline';
@use './radio/mdc-radio';
@use './ripple/mdc-ripple';
@use './segmented-button/styles' as segmented-button-styles;
@use './slider/styles' as slider-styles;
@use './snackbar/mdc-snackbar';
@use './switch/styles';
@use './tab/mdc-tab';
@use './tab-bar/mdc-tab-bar';
@use './tab-indicator/mdc-tab-indicator';
@use './tab-scroller/mdc-tab-scroller';
@use './textfield/mdc-text-field';
@use './theme/mdc-theme';
@use './tooltip/styles' as tooltip-styles;
@use './top-app-bar/mdc-top-app-bar';
@use './typography/mdc-typography';
