@use '@material/theme/variables' as theme-variables;

@mixin paginationHover() {
  color: theme-variables.prop-value(primary);
  color: var(--mdc-theme-primary, theme-variables.prop-value(primary));
  border-color: theme-variables.prop-value(primary);
  border-color: var(--mdc-theme-primary, theme-variables.prop-value(primary));
}

@mixin paginationInput() {
  width: 48px;
  height: 24px;
  border: 1px solid #d9d9d9;
  text-indent: 4px;
  outline: 0;
  transition: all 0.3s;

  &:hover,
  &:focus {
    border-color: theme-variables.prop-value(primary);
    border-color: var(--mdc-theme-primary, theme-variables.prop-value(primary));
  }
}
