@use '@material/shape/mixins' as shape-mixins;
@use './variables' as ui-pagination-variables;
@use './mixins' as ui-pagination-mixins;

.mdc-pagination {
  &.mdc-pagination--left {
    justify-content: flex-start;
  }
  &.mdc-pagination--center {
    justify-content: center;
  }
  &.mdc-pagination--right {
    justify-content: flex-end;
  }

  .material-icons {
    font-size: 18px;
  }

  .mdc-button {
    min-width: 32px;
    height: ui-pagination-variables.$height;

    &.mdc-pagination__button--ellipsis {
      cursor: default;
      color: currentColor;
    }
  }

  .mdc-data-table__pagination-button:not(.mdc-pagination__button--ellipsis) {
    background-color: ui-pagination-variables.$fill-color;
    color: ui-pagination-variables.$text-color;
    border: 1px solid ui-pagination-variables.$border-color;

    &:hover {
      background-color: ui-pagination-variables.$hover-fill-color;
      color: ui-pagination-variables.$hover-text-color;
      border-color: ui-pagination-variables.$hover-border-color;
    }

    &:disalbed {
      cursor: not-allowed;
    }

    &.mdc-pagination__button--active {
      background-color: ui-pagination-variables.$active-fill-color;
      color: ui-pagination-variables.$active-text-color;
      border-color: ui-pagination-variables.$active-border-color;
      cursor: default;

      &:hover {
        background-color: ui-pagination-variables.$active-fill-color;
        color: ui-pagination-variables.$active-text-color;
        border-color: ui-pagination-variables.$active-border-color;
      }
    }
  }
}

.mdc-data-table__pagination-rows-per-page {
  select {
    @include ui-pagination-mixins.paginationInput();
  }
}

.mdc-data-table__pagination-jumper {
  display: inline-flex;
  align-items: center;
  margin-left: 22px;

  .mdc-data-table__pagination-jumper-label {
    margin-right: 12px;
  }

  input {
    @include ui-pagination-mixins.paginationInput();
  }

  button {
    height: 24px;
    line-height: 22px;
    padding: 0;
    color: ui-pagination-variables.$text-color;
    border: 1px solid #d9d9d9;

    &:hover {
      background: none;
      color: ui-pagination-variables.$hover-text-color;
      border-color: ui-pagination-variables.$hover-border-color;
    }
  }
}

.mdc-pagination--mini {
  .mdc-data-table__pagination-navigation {
    justify-content: space-between;
  }

  .mdc-data-table__pagination-total {
    margin: 0;
  }

  .mdc-data-table__pagination-prev-button {
    order: -1;
  }
}
