@use '@material/theme/variables' as theme-variables;

$destinations: 33, 25, 20; // percent
$height: 48px !default;
$stacked-height: 72px !default;
$color: theme-variables.$primary !default;
$fill-color: white !default;
$active-fill-color: rgba($color, 0.7) !default;
