<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BalmUI - drawer example</title>
  <link rel="stylesheet" href="/components/core.css">
  <link rel="stylesheet" href="/components/top-app-bar/top-app-bar.css">
  <link rel="stylesheet" href="/components/drawer/drawer.css">
  <link rel="stylesheet" href="/components/list/list.css">
  <link rel="stylesheet" href="/components/icon/icon.css">
  <style>
  body {
    margin: 0;
  }
  #app {
    display: flex;
    height: 100vh;
  }
  .demo-main {
    padding-left: 16px;
    overflow: auto;
  }
  </style>
</head>
<body>
  <div id="app">
    <ui-top-app-bar fixed content-selector=".demo-main" nav-id="demo-menu">
      Temporary Drawer
    </ui-top-app-bar>

    <ui-drawer type="modal" menu-selector="#demo-menu">
      <ui-drawer-header>
        <ui-drawer-title>{{ title }}</ui-drawer-title>
        <ui-drawer-subtitle>{{ subtitle }}</ui-drawer-subtitle>
      </ui-drawer-header>
      <ui-drawer-content>
        <ui-list>
          <ui-item @click="history.back()">
            <ui-item-text-content>Back</ui-item-text-content>
          </ui-item>
          <ui-list-divider></ui-list-divider>
          <template v-for="(item, index) in menu">
            <ui-list-divider v-if="item === '-'" :key="`divider-${index}`"></ui-list-divider>
            <template v-else>
              <ui-list-group-subheader v-if="item.subheader" :key="`subheader-${index}`">
                {{ item.subheader }}
              </ui-list-group-subheader>
              <ui-item v-for="(subItem, subIndex) in item.items"
                :key="`item-${index}-${subIndex}`">
                <ui-item-text-content>{{ subItem.name }}</ui-item-text-content>
              </ui-item>
            </template>
          </template>
        </ui-list>
      </ui-drawer-content>
    </ui-drawer>

    <ui-drawer-backdrop></ui-drawer-backdrop>

    <main :class="[$tt('body1'), 'demo-main']">
      <div :class="$tt('body2')">
        <h1 :class="$tt('headline4')">Temporary Drawer</h1>
        <p>Click the menu icon above to open.</p>
      </div>
    </main>
  </div>
  <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
  <script src="/components/top-app-bar/index.js"></script>
  <script src="/components/drawer/index.js"></script>
  <script src="/components/list/index.js"></script>
  <script src="/plugins/typography/index.js"></script>
  <script>
    // TODO: uninit
    var app = new Vue({
      el: '#app',
      data() {
        return {
          title: 'Mail',
          subtitle: 'ui@balmjs.com',
          menu: [
            {
              items: [
                {
                  icon: 'inbox',
                  name: 'Inbox'
                },
                {
                  icon: 'star',
                  name: 'Star'
                },
                {
                  icon: 'send',
                  name: 'Sent Mail'
                },
                {
                  icon: 'drafts',
                  name: 'Drafts'
                }
              ]
            },
            '-',
            {
              subheader: 'Labels',
              items: [
                {
                  icon: 'email',
                  name: 'All Mail'
                },
                {
                  icon: 'delete',
                  name: 'Trash'
                },
                {
                  icon: 'report',
                  name: 'Spam'
                }
              ]
            },
            '-',
            {
              items: [
                {
                  icon: 'settings',
                  name: 'Settings'
                },
                {
                  icon: 'announcement',
                  name: 'Help & feedback'
                }
              ]
            }
          ]
        };
      }
    })
  </script>
</body>
</html>
