@use '@material/theme/functions' as theme-functions;
@use '@material/theme/variables' as theme-variables;
@use '@material/list/variables' as list-variables;

$color: if(
  theme-functions.tone(theme-variables.$background) == 'dark',
  list-variables.$divider-color-on-dark-bg,
  list-variables.$divider-color-on-light-bg
) !default;

$horizontal-height: 2px !default;
$horizontal-text-padding: 8px 16px !default;

$vertical-width: 2px !default;
$vertical-text-padding: 16px 8px !default;
