@use './variables' as ui-rangepicker-variables;

.mdc-rangepicker {
  display: inline-flex;
}

.mdc-rangepicker__separator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: ui-rangepicker-variables.$separator-padding;
}

@media (max-width: ui-rangepicker-variables.$mobile-breakpoint) {
  .mdc-rangepicker {
    flex-direction: column;
  }
}
