@use '@material/dialog/variables' as dialog-variables;

.mdc-dialog__title--closable {
  position: relative;

  .mdc-dialog__close {
    position: absolute;
    top: 5px;
    right: dialog-variables.$close-icon-padding;
  }
}

.mdc-dialog__content {
  .mdc-select__menu,
  .mdc-autocomplete__menu {
    .mdc-deprecated-list:first-child:last-child {
      padding: 8px 0;
    }
  }
}
