@use './variables' as form-variables;

.mdc-form {
  margin: form-variables.$form-margin;
  padding: form-variables.$form-padding;
  border: form-variables.$form-border;

  .mdc-form-field {
    display: flex;
    margin-bottom: form-variables.$form-item-margin-bottom;

    & > label {
      margin: 0;
      padding: 0;
    }
  }
}

.mdc-form--nowrap {
  .mdc-form-field > label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.mdc-form--horizontal {
  .mdc-form-field > label {
    flex: 0 0 form-variables.$form-item-label-width;
    margin-right: form-variables.$form-item-label-margin-right;
  }

  &.mdc-form--label-top-aligned {
    .mdc-form-field {
      align-items: flex-start;
    }
  }

  &.mdc-form--label-right-aligned {
    .mdc-form-field > label {
      text-align: right;
    }
  }

  .mdc-form__actions {
    padding-left: form-variables.$form-item-label-width +
      form-variables.$form-item-label-margin-right;

    .mdc-button {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .mdc-checkbox,
  .mdc-radio {
    & + label {
      flex-basis: auto;
    }
  }
}

.mdc-form--vertical {
  .mdc-form-field {
    flex-direction: column;
    align-items: stretch;

    & > label {
      margin-bottom: form-variables.$form-item-label-margin-bottom;
    }
  }
}
