@use '@material/theme/variables' as theme-variables;
@use '../mixins' as ui-mixins;
@use './theme';

.mdc-menu-surface--absolute {
  position: absolute;
}

.mdc-menu-surface {
  :not(.mdc-list-item--disabled).mdc-menu-item--selected {
    @include ui-mixins.selected();

    .mdc-list-item__graphic {
      color: theme-variables.prop-value(on-primary);
      color: var(
        --mdc-theme-on-primary,
        theme-variables.prop-value(on-primary)
      );
    }
  }
}
