@use './variables' as menu-variables;

.mdc-menu-surface--absolute {
  position: absolute;
}

.mdc-menu-surface {
  :not(.mdc-list-item--disabled).mdc-menu-item--selected {
    background-color: menu-variables.$selected-bgcolor;
    color: menu-variables.$selected-color;
    .mdc-list-item__graphic {
      color: menu-variables.$selected-color;
    }
  }
}
