@use '@material/theme/theme';
@use '../mixins' as ui-mixins;
@use './theme' as ui-theme;

.mdc-menu-surface--absolute {
  position: absolute;
}

.mdc-menu {
  :not(.mdc-deprecated-list-item--disabled).mdc-menu-item--selected {
    @include ui-mixins.selected();

    .mdc-deprecated-list-item__graphic {
      @include theme.property(color, on-primary);
    }
  }
}
